$primary1:#303f9f;
$light-primary:#BBDEFB;
$white:#f2f2f2;
$divider:#b6b6b6;
$error:#d32f2f;

$borde:2px;
$font-family:"Roboto",Arial;
*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background:$white;
    font-family: $font-family;
    // border-top:30px solid $primary1;
}

.wrap{
    // width:90%;
    max-width:500px;
    padding:40px;
    margin:auto;
    // background:#fff;
    // box-shadow: 0px 0px 3px grey;

}

.contenedor-formulario{
    // width:100%;
    // color:white;
    // padding:50px;
    .formulario{
        width:100%;
        margin:auto;
        .input-group{
            position:relative;
            margin-bottom:32px;
            input[type="text"],
            input[type="email"],
            input[type="password"],select{
                font-family:$font-family;
                font-size:16px;
                color:$primary1;
                width:100%;
                outline:none;
                padding:15px;
                background:none;
                border:none;
                border-bottom:$borde solid $light-primary;
                transition: all 1s ease;
                &:focus,&:active{
                    outline:none;
                    border-bottom:$borde solid $primary1;
                }
                &.error{
                    border-bottom:$borde solid $error;
                    + label{
                        color:$error;
                    }
                }
            }
            label{
                color:$primary1;
                transition: all 1s ease;
                &.label{
                    position:absolute;
                    top:16px;
                    left:0;
                    font-size:16px;
                    line-height:16px;
                    margin-left:16px;
                    transition:all .5s ease;
                    &.active{
                        top:-12px;
                        font-size:12px;
                        line-height:12px;
                        color:white;
                    }
                }
            }
            &.checkbox label,
            &.radio label{
                display:inline-block;
                cursor:pointer;
                color:$primary1;
                position:relative;
                padding:5px 15px 5px 51px;
                font-size:1em;
                border-radius:3px;
                -o-transition: all .3s ease;
                transition:all .3s ease;
                &:hover{
                    background:rgba($light-primary,1);
                }
                &:before{
                    content:"";
                    width:17px;
                    height:17px;
                    display:inline-block;
                    border:3px solid #0074D9;    
                    border-radius:50%;
                    background:none;
                    border:$borde solid $primary1;
                    position:absolute;
                    left:17px;
                    top:9px;
                }

            }
            &.error{
                label{
                    color:$error;
                    &:hover{
                        background:rgba($error,.2)
                    }
                    &:before{
                        border:$borde solid $error;
                    }
                }
            }
            &.radio{
                input[type="radio"]{
                    display:none;
                    &:checked +label:before{
                        display:none;
                    }
                    &:checked + label{
                        padding:5px 15px;
                        background:$primary1;
                        border-radius:$borde;
                        color:white;

                    }
                }
            }
            &.checkbox{
                label:before{
                    border-radius: 3px;
                }
                input[type="checkbox"]{
                    display:none;
                    &:checked +label:before{
                        display:none;
                    }
                    &:checked + label{
                        padding:5px 15px;
                        background:$primary1;
                        border-radius:3px;;
                        color:white;

                    }
                }

            }
        }
        input[type="submit"]{
            background:$primary1;
            border-radius:1px;
            border:$borde solid $white;
            color:#Fff;
            cursor:pointer;
            display:inline-block;
            padding:15px;
            width:100%;
            font-family:$font-family;
            font-size:16px;
            transition:all 3s ease;
            &:hover{
                background:#1976d2;
            }

        }



    }
}





.formulario1{
    h2{
        font-size:16px;
        color:#001F3F;
        margin-bottom:20px;
        margin-left:20px;
    }
    >div{
        padding:20px 0;
        border-bottom:1px solid #ccc;
    }
    input[type="radio"], input[type="checkbox"]{
        display:none;
    }
    .radio,.checkbox{
        label{
            color:#0074D9;
            background:rgba(0,0,0,.1);
            padding:5px 15px 5px 51px;
            display:inline-block;
            position:relative;
            font-size:1em;
            border-radius:3px;
            cursor:pointer;
            transition:all 0.6s ease;
        }
        label:hover{
            background:rgba(0,116,217,0.4);
        }
        
        label:before{
            content:"";
            width:17px;
            height:17px;
            display:inline-block;
            border:3px solid #0074D9;    
            border-radius:50%;
            position:absolute;
            left:17px;
            top:9px;
        }
    }
    .checkbox{
        label:before{
            border-radius:3px;
        }
    }
    input[type="radio"]:checked + label, input[type="checkbox"]:checked + label{
        padding:5px 15px;
        background:#0774D9;
        border-radius:2px;
        color:#fff;
    }
        input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before{
        display:none;
    }
}
.desaparecer{
    display:none;
}

//CURSO WEB
.degradados{
    // background:-webkit-linear-gradient(
    //     top,
    //     blue 0%,
    //     red 30%,
    //     green 80%,
    //     yellow 100%
    // );
        background:-webkit-radial-gradient(
        center,
        blue 0%,
        red 30%,
        green 80%,
        yellow 100%
    );
    height:300px;
    width:300px;
    display:none;
}
// Transformaciones significa el mismo elemento pero girado , rotado

// transform:tipo(cantidad);
// transform:tipoX(cantidad);
.nube{
    width: 200px;
    height: 110px;
    position: absolute;
    background-repeat: no-repeat;
}
.nube0{
    animation:movimiento0 100s infinite;
}
.nube1{
    animation:movimiento1 50s infinite;
}
.nube2{
    animation:movimiento2 100s infinite;
}

@keyframes movimiento0{
    from{
        margin-left:100%;
    }
    to{
        margin-left:-30%;
    }
}
@keyframes movimiento1{
    from{
        margin-left:30%;
        margin-top:8%;
    }
    to{
        margin-left:70%;
        margin-top:10%;
    }
}
@keyframes movimiento2{
    from{
        margin-left:-30%;
        margin-top:3%;
    }
    to{
        margin-left:100%;
        margin-top:5%;
    }
}
.fondo{
    width:100vw;
    position:absolute;
    bottom:0;
    z-index:1
}

.nave{
    display:none;
    position:absolute;
    z-index:3;
    bottom:0;

    // -webkit-transform: translate(-20px,-20px);
    // -moz-transform: translate(-20px,-20px);
    // -ms-transform: translate(-20px,-20px);
    // -o-transform: translate(-20px,-20px);
    // transform: translate(-20px,-20px);    

}

#loginPrincipal{
    overflow:hidden;
    height:100vh;
    width:100vw;
    padding: 0;
    margin: 0;
    display:flex;
background: rgba(150,201,61,1);
background: -moz-linear-gradient(45deg, rgba(150,201,61,1) 0%, rgba(150,201,61,0.89) 25%, rgba(0,176,167,0.8) 46%, rgba(35,7,77,0.61) 89%, rgba(35,7,77,0.56) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(150,201,61,1)), color-stop(25%, rgba(150,201,61,0.89)), color-stop(46%, rgba(0,176,167,0.8)), color-stop(89%, rgba(35,7,77,0.61)), color-stop(100%, rgba(35,7,77,0.56)));
background: -webkit-linear-gradient(45deg, rgba(150,201,61,1) 0%, rgba(150,201,61,0.89) 25%, rgba(0,176,167,0.8) 46%, rgba(35,7,77,0.61) 89%, rgba(35,7,77,0.56) 100%);
background: -o-linear-gradient(45deg, rgba(150,201,61,1) 0%, rgba(150,201,61,0.89) 25%, rgba(0,176,167,0.8) 46%, rgba(35,7,77,0.61) 89%, rgba(35,7,77,0.56) 100%);
background: -ms-linear-gradient(45deg, rgba(150,201,61,1) 0%, rgba(150,201,61,0.89) 25%, rgba(0,176,167,0.8) 46%, rgba(35,7,77,0.61) 89%, rgba(35,7,77,0.56) 100%);
background: linear-gradient(45deg, rgba(150,201,61,1) 0%, rgba(150,201,61,0.89) 25%, rgba(0,176,167,0.8) 46%, rgba(35,7,77,0.61) 89%, rgba(35,7,77,0.56) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c93d', endColorstr='#23074d', GradientType=1 );
    #LoginPart{
        margin: auto;
        width: 100%;
        z-index: 4;
        display:flex;
        flex-direction:column;
        // flex-wrap: wrap;
        // justify-content: space-around;
        .tituloLogin{
            h2{
            font-size: 1.5em;
            color: #fdf3f3;
            border-bottom: 0.3px solid white;
            height: 43px;   
            }
        }
        .containerCarousel,.next,.prev{
            display:none;
        }
        .contenedorTarjetas{
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        .contenedor_tarjeta{
            display:flex;
            flex-direction:row;
            transition:all ease .5s;
                a{
                    display:inline-block;
                    overflow: hidden;
                    display: flex;
                    width: 300px;
                }
                #wawaLogeate{
                    height: 380px;
                    flex-shrink: 0;
                    flex-basis: 300px;
                    transition: all ease .5s;
                    // transform: translateX(-200px);
                }

                figure{
                    flex-shrink: 0;
                    width:300px;
                    height:380px;
                    margin:0;
                    position:relative;
                    transition:all ease .5s;
                    transform-style:preserve-3d;
                    transform:perspective(600px) rotateY(0deg);
                    .frontal,.trasera{
                        width:100%;
                        height:100%;
                        border-radius:5px;
                        transition:all ease .5s;
                    }
                    .frontal{
                        display:block;
                        // backface-visibility: hidden;
                    }
                    .trasera{
                        background: rgba(125, 198, 230, 0.21);
                        position:absolute;
                        top:0;
                        padding:20px;
                        color:#fff;
                        transform:perspective(600px) rotateY(180deg);
                        backface-visibility: hidden;
                        overflow:hidden;
                        hr{
                            border-color:white;
                        }
                        .socialCenter{
                            display: flex;
                            flex-direction: column;
                            /* margin-top: 50%; */
                            height: 122px;
                            justify-content: center;
                            a{
                                color: white; 
                            }
                            .btn-facebook{
                                width:260px;
                                background: #405499;
                                display: flex;
                                justify-content: space-around;
                                color:white;
                            }
                            .btn-loguearte{
                                color:white; 
                                width:260px;
                                background:#167e98;
                                       cursor:pointer;
                            }
                            .textComp{
                                text-align: center;
                                color: #1a958b;
                            }
                        }
                    }
                }

            }
        }
        .contenedor_tarjeta:hover{
            .tituloCard{
                display:none;
            }
            figure{
                transform:perspective(600px) rotateY(180deg);
                img{
                    filter:blur(2px);
                }
            }
        }
    }
}
.logo{
    height:100px;
    width:200px;
    position:absolute;
}
// tarjeta
a{
    text-decoration:none;
}

.movimientoVerticalArriba{
    transform:translateY(-380px);
}
.mueveteHorizontal{
    transform:translateX(-300px) !important;
}

