#misSkillsSection{
    display:none;
    .cabeceraSkills{
        h1{
        text-align: center;
        }
        .botonesVista{
        display: flex;
        justify-content: center;
        height: 200px;
            .skillBasico{
                margin-right: 5%;
            }
            .skillEspecializado{
              margin-left: 5%;  
            }
            .skillBasico,.skillEspecializado{
                display: flex;
                /* flex-direction: column; */
                // margin-right: 5%;
                /* flex: 62px; */
                flex: 0 0 160px;
                /* background: red; */
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                border: 2px solid #7986CB;
                /* background: #e0f2f1; */
                img{
                    border: 4px solid #4DD0E1;
                    flex: 0 0 113px;
                }
                button{
                    flex: 0 0 113px;
                    padding: 12px;
                    h2{
                    font-size: 20px;
                    margin-bottom: 0; 
                    }
                }
            }
        }
    }
    .carrerasEscoger{
        display: flex;
        /* width: 81%; */
        margin: auto;
        margin-top: 37px;
        border: 1px solid #7b1fa2;
        border-radius: 58px 58px;
        /* padding: 52px; */
        .navegacion{
            display: flex;
            align-items: flex-start;
            span{
                    /* height: 30px; */
                height: 80px;
                width: 40px;
                text-align: center;
                /* margin: auto; */
                font-size: 62px;
                padding: auto;
                color: #0275d8;
                margin-top: 32px;
            }
        }
        .itemCarrera{
            display: flex;
            flex-direction: column;
            flex: 1 1 0px;
            /* background: red; */
            margin: 16px;
            display: flex;
            flex-direction: column;
            flex: 1 1 0px;
            /* background: red; */
            justify-content: space-around;
            align-items: center;
            img{
                width: 100px; 
            }
            span{
                width: 100px;
                text-align: center;
            }
        }
        .seleccionada{
            background: rgba(0, 128, 0, 0.18);
            border-radius: 25px;   
        }
    }
    .analisis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .cuerpoSkills{
    background: rgba(56, 245, 56, 0.07);
    margin-top: 30px;
        .info-fast{
            h2{
            text-align: center;
            margin-bottom: 41px;
            }
            table{
            border-color: red;
            background: rgba(92, 184, 92, 0.38);
            width: 80%;
            }
        }
    }
    .recomendacionSkill{
        .skillsAltos{
        border: 1px solid #0275d8;
            .cuerpoTip{
            border: 1px solid #4bbd4b;
            }
            .talentos{
            border: 1px solid blue;
            }
        }
        .skillBajos{
        border: 1px solid rgba(201, 48, 44, 0.61);
            .cuerpoTip{
            border: 1px solid #c57f1d;
            }
            .talentos{
            border: 1px solid #dc2358;
            }
        }
        .skillsAltos,.skillBajos{
        border-radius: 20px;
        margin-top: 15px;
            .alinearVerticalmente{
            padding: 10px;
                h3{
                text-align: right;
                font-size: 13px;
                text-decoration: underline;    
                }
                .cuerpoTip{
                margin: 15px;
                border-radius: 9px;
                }
                .talentos{
                margin: 23px;
                /* margin-left: 17%; */

                border-radius: 9px;
                padding: 15px;
                }
                .botonesTip{
                text-align: center;
                }
            }
        }

   
    }
}


//propiedad general para alinear verticalmente
    .alinearVerticalmente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
//propiedad para cards 
.papaCards{
    display: flex;
    justify-content: center;
    height: 320px;
    flex-wrap: wrap;
    .alinearVerticalmente{
    margin: 10px;
    border: 1px solid #4DD0E1;
    display: flex;
    flex: 0 0 189px;
    h2{
    font-size: 21px;
    color: #4DD0E1;
    text-align: center;
    }
    p{
    font-size: 13px;
    text-align: center;
    color: #989494;
    margin-top: 20px;    
    }
    }

}

#miCarreraDetail{

    #mynetwork{
        height:600px;
    }
    #eventSpan{
        display:none;
    }



}



//Este es particular
.cabMisCar{
    h2{
        text-align: center;
    }
}
.detalleCarreras{
    border:1px solid #aeea00!important;
    height: 350px;
    h2{
        color:#8bc34a !important;
    }
}