.padreLoginPart{
      margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
#LoginPart{
        @media screen and (max-width:800px){
    width: 300px !important;
        }

.contenedorTarjetas{
        @media screen and (max-width:800px){
    width: 300px;
    overflow: hidden;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 380px;
        }

}
}
.atras{
            @media screen and (max-width:799px){
            width: 40px;
            height: 40px;
            background: #5aa8ad;
            border-radius: 22px;
            padding: 0px;
            border-color: transparent;
            font-size: 24px;
            color: white;
        }
          @media screen and (min-width:800px){
display:none ;
        }
}

}


.containerCarousel,.next,.prev{
            @media screen and (max-width:800px){
            display:block !important;
        }
}
.containerCarousel {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
  background: #ed1c24;
}
.b {
  transform: rotateY(60deg) translateZ(250px);
  background: #0072bc;
}
.c {
  transform: rotateY(120deg) translateZ(250px);
  background: #39b54a;
}
.d {
  transform: rotateY(180deg) translateZ(250px);
  background: #f26522;
}
.e {
  transform: rotateY(240deg) translateZ(250px);
  background: #630460;
} 
.f {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}
.next { right: 5em; }
.prev { left: 5em; }

.ayudanteSaludar{
   transform: scale(0,0);
}
#cuerpoRequerimiento{
  margin-top:20px;
      display: flex;
    flex-direction: column;
    align-items: center;
  .input-group{
    .label{
      color:#1d938a !important;
    }
    input[type="text"]:active{
         border-bottom: 2px solid #1d938a !important;
         color:#1d938a !important;
      
        }
    input[type="text"]:focus{
         border-bottom: 2px solid #1d938a !important;
         color:#1d938a !important;

    }
  }
    input[type="submit"]{
    background: #1a7f98 !important;
    width:80% !important;
    padding:10px !important;
    }
}
  table{
    width:100%;
    display:table;
    thead ,tbody{
      border-bottom: 1px solid #d0d0d0;
      tr{
        th,td{
            text-align:center;
            padding: 15px 5px;  
        }
      }
    }
  }
  #contenedor-juegos{
    position:relative;
    margin:5vh auto;
    width:1000px;
    height:500px;
    background:red;
    button{
      display:block;
      position:relative;
      margin:5px 0;
      padding:10px;
      cursor:pointer;
    }
  }

  #lienzo{
    background: url(../images/grid.jpg);
  }
  #vertical{
    display:none;
  }
 @media screen and (orientation:portrait) {
    #contenedor-juegos{
      display:none;
    }
    #vertical{
      display:block;
      position:fixed;
      width:100%;
      height:100vh;
      z-index:1;
      background:url(../images/vertical.jpg);
      background-size:cover;
      background-position:center; 
    }

  }

  .probandoP{
  font-family: 'Patrick Hand', cursive;
  font-size:30px;

  }

  //Propiedad cuando se ingresa a la parte de canvas
  .cuerpoExteriorJuegos{
    height: 100vh;
    /* background: red; */
    background-color: #172025;
    background-image:url(../images/intro/back.svg);
    background-repeat: repeat-x;
    background-position: top;
    overflow: hidden;
  }
