    .parteNoActiva{
    display:none;
    }

#cabeceraTest,#footerTest,.cuerpoTest{
    .container{
        width:60%;
        .circulos{
            display:flex;
            justify-content: space-between;

            .circulo{
                width:40px;
                height: 40px;
                text-align: center;
                padding: 7px;
                border-radius: 68%;
                border: 2px solid #1c75bc;
            }
            .pintamelo{
                background:$tituloPrincipal;
            }
        }
        .encabezadoNumero,.encabezadoTitulo{
            text-align:center;
            color:#4ed4f4;
            font-weight:bold;
            border-color:$verde;
            font-size:32px;


        }
        .felicitaciones{
        text-align:center;
        font-size:48px;
        color:#e040fb;
        }

        .encabezadoTitulo{
            border-width: 0px 0px 5px;
            border-style: solid;
        }
        .situacionActual{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 158px;
            justify-content: space-between;
            margin-top: 40px;
            h2{
            color:$morado;
            }
        }
        .botonSiguiente{
            flex-direction: row;
            justify-content: center;
            display: flex;
            margin-top: 20px;
        }
        .pregunta{
                display: flex;
                flex-direction: column;
                align-items: stretch;
                margin-top: 26px;
                p,span{
                text-align: center;
                color: #9a9a9a;   
                }
                select{
                border: 2px solid $colorCheck;
                font-size: 18px;
                font-weight: bold;
                color: #717171;
                }
                textarea{
                height: 100px;
                border: 2px solid #8d53b8;
                }
                .noMostrar{
                display:none;
                }
                .alternativas{
                    .alternativa{
                        input{ display:none; }
                        label{
                            display: flex;
                            align-items: center;
                            font-size: 18px;
                            font-weight: bold;
                            color: #717171;
                            div{
                                width:40px;
                                height:40px;
                                display:inline-block;
                                border:2px solid $colorCheck;
                                text-align:center;
                                line-height:20px;
                                margin-right:6px;	
                                border-radius:3px;
                                cursor:pointer;	
                            }
                            i{
                                font-size:40px;
                                opacity:0;
                                color:$colorCheck;
                            }

                        }

                        label:hover div{ background:$blanco; }
                        input:checked+label i{ opacity:1; }
                        input:checked+label div{ background:$blanco; }
                    }
                }



        }
    }
}
#PersonalidadesVocacionales{
    display:none;
    .numSeccion{
        color:red;
    }
    .tituloSeccion{
    color:red;
    }
    #steps{
    color:red;
    }
    .preguntaEstandar{
    color:red;
    }
    .contenedorCuestionario{
        display:none;
    }

}
.fantasy-ilustration {
    display: inline-block;
    background: url(../img/sprite-illustrations.png) no-repeat 0 0;
    width: 133px;
    height: 133px;
}
#todoClase{
    width:80%;
    margin:auto;
    #ClaseExplorarCarrera{
        margin-top:20px;
    }
    .cuerpoTest{
        .botonesCambio{
        margin-top: 24px;
        display: flex;
        justify-content: center;
        button{
        margin: 10px;    
        }           
        }
    }
}
