$texto:#111111;
$principal:#12AFAF;
$secundario:#009500;
$morado:#8d53b8;
$azul:#1c75bc;
$verde:#deea49;
$tituloSuave:#9a9a9a;
$respuestaGrueso:#484848;
$tituloPrincipal:#4ed4f4;
$colorCheck:#93bb3c;
$blanco:#eceeef;
