html, body {
  margin: 0px;
  height: 100%;
  background: #fff;
  font-family: 'Roboto';
  font-size: 16px;
  overflow-x: hidden; }

.cuerpo {
  width: 100%;
  padding: 0; }

.cuerpoCentral {
  padding-top: 30px; }

section .container {
  width: 85%; }

.central {
  height: 100%; }

.seguro {
  margin-top: -30px;
  background: #222326;
  width: 95%;
  position: absolute;
  height: 40px; }

.navigation {
  text-align: center; }
  .navigation a {
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none; }
  .navigation a:hover {
    color: white; }
  .navigation .glyphicon {
    font-size: 25px;
    display: block;
    width: 100%; }

.head-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase; }

#user_logged .user-image {
  background: #eee;
  border-radius: 100px;
  height: 57px;
  width: 57px;
  margin: 0px auto;
  margin-top: 15px;
  overflow: hidden; }
  #user_logged .user-image img {
    width: 57px; }

.btn-logout {
  cursor: pointer; }

#canvas-container {
  height: 500px;
  width: 500px; }

.botonFacebook {
  background: blue; }

.artist_image_for_edit {
  width: 150px; }

.artist-image img {
  width: 150px; }

.artist-list {
  margin: 0px;
  padding: 0px;
  margin: 30px;
  list-style: none; }

.artist-item {
  width: 23%;
  margin: 0px;
  padding: 0px;
  height: 317px;
  border: 1px solid #444;
  margin-left: 15px;
  margin-top: 15px; }
  .artist-item .artist-image {
    height: 245px;
    width: 100%;
    overflow: hidden; }
  .artist-item .artist-image img {
    height: 100%;
    min-width: 100%; }
  .artist-item .artist-name {
    position: relative;
    color: white;
    padding: 10px;
    background: #222326; }
    .artist-item .artist-name a {
      color: white; }

#artist-head-card .artist-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  float: left;
  margin-right: 30px; }
  #artist-head-card .artist-image img {
    height: 150px; }

.anim {
  -webkit-animation: slide 0.3s;
          animation: slide 0.3s; }
@-webkit-keyframes slide {
  50% {
    opacity: 0;
    margin-top: 40px; }
  100% {
    opacity: 1;
    margin-top: 15px; } }
@keyframes slide {
  50% {
    opacity: 0;
    margin-top: 40px; }
  100% {
    opacity: 1;
    margin-top: 15px; } }
.show {
  display: block;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear; }

.preguntatest .row {
  height: 600px; }
  .preguntatest .row .contenedorCuestionario .show {
    position: relative; }

#tipos {
  display: none; }
  #tipos #divCont {
    background: Red; }
  #tipos #divContFluid {
    background: blue; }
  #tipos #divNull {
    background: yellow; }

#reglasFlex {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none; }
  #reglasFlex .caja1 {
    background: red; }
  #reglasFlex .caja2 {
    background: green; }
  #reglasFlex .caja3 {
    background: pink; }

#home .container .bienvenida div {
  margin-top: 1vh; }
#home .container .notificaciones {
  margin-top: 10vh; }
  #home .container .notificaciones .card {
    border: 1px solid #0275d8;
    margin-bottom: 20px; }
    #home .container .notificaciones .card .card-header {
      border: 1px solid #0275d8;
      background: #9CD8E5; }
    #home .container .notificaciones .card .card-block {
      border: 1px solid #0275d8; }
    #home .container .notificaciones .card .card-footer {
      border: 1px solid #0275d8; }

.elemTest {
  width: 60%;
  margin: auto;
  margin-top: 20px; }

.falta {
  color: red !important; }

.parteLisata {
  border-color: #2e9c2e !important;
  background: #93bb3c !important; }

.parteNoActiva {
  display: none; }

#cabeceraTest .container, #footerTest .container, .cuerpoTest .container {
  width: 60%; }
  #cabeceraTest .container .circulos, #footerTest .container .circulos, .cuerpoTest .container .circulos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #cabeceraTest .container .circulos .circulo, #footerTest .container .circulos .circulo, .cuerpoTest .container .circulos .circulo {
      width: 40px;
      height: 40px;
      text-align: center;
      padding: 7px;
      border-radius: 68%;
      border: 2px solid #1c75bc; }
    #cabeceraTest .container .circulos .pintamelo, #footerTest .container .circulos .pintamelo, .cuerpoTest .container .circulos .pintamelo {
      background: #4ed4f4; }
  #cabeceraTest .container .encabezadoNumero, #cabeceraTest .container .encabezadoTitulo, #footerTest .container .encabezadoNumero, #footerTest .container .encabezadoTitulo, .cuerpoTest .container .encabezadoNumero, .cuerpoTest .container .encabezadoTitulo {
    text-align: center;
    color: #4ed4f4;
    font-weight: bold;
    border-color: #deea49;
    font-size: 32px; }
  #cabeceraTest .container .felicitaciones, #footerTest .container .felicitaciones, .cuerpoTest .container .felicitaciones {
    text-align: center;
    font-size: 48px;
    color: #e040fb; }
  #cabeceraTest .container .encabezadoTitulo, #footerTest .container .encabezadoTitulo, .cuerpoTest .container .encabezadoTitulo {
    border-width: 0px 0px 5px;
    border-style: solid; }
  #cabeceraTest .container .situacionActual, #footerTest .container .situacionActual, .cuerpoTest .container .situacionActual {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 158px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px; }
    #cabeceraTest .container .situacionActual h2, #footerTest .container .situacionActual h2, .cuerpoTest .container .situacionActual h2 {
      color: #8d53b8; }
  #cabeceraTest .container .botonSiguiente, #footerTest .container .botonSiguiente, .cuerpoTest .container .botonSiguiente {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px; }
  #cabeceraTest .container .pregunta, #footerTest .container .pregunta, .cuerpoTest .container .pregunta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 26px; }
    #cabeceraTest .container .pregunta p, #cabeceraTest .container .pregunta span, #footerTest .container .pregunta p, #footerTest .container .pregunta span, .cuerpoTest .container .pregunta p, .cuerpoTest .container .pregunta span {
      text-align: center;
      color: #9a9a9a; }
    #cabeceraTest .container .pregunta select, #footerTest .container .pregunta select, .cuerpoTest .container .pregunta select {
      border: 2px solid #93bb3c;
      font-size: 18px;
      font-weight: bold;
      color: #717171; }
    #cabeceraTest .container .pregunta textarea, #footerTest .container .pregunta textarea, .cuerpoTest .container .pregunta textarea {
      height: 100px;
      border: 2px solid #8d53b8; }
    #cabeceraTest .container .pregunta .noMostrar, #footerTest .container .pregunta .noMostrar, .cuerpoTest .container .pregunta .noMostrar {
      display: none; }
    #cabeceraTest .container .pregunta .alternativas .alternativa input, #footerTest .container .pregunta .alternativas .alternativa input, .cuerpoTest .container .pregunta .alternativas .alternativa input {
      display: none; }
    #cabeceraTest .container .pregunta .alternativas .alternativa label, #footerTest .container .pregunta .alternativas .alternativa label, .cuerpoTest .container .pregunta .alternativas .alternativa label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 18px;
      font-weight: bold;
      color: #717171; }
      #cabeceraTest .container .pregunta .alternativas .alternativa label div, #footerTest .container .pregunta .alternativas .alternativa label div, .cuerpoTest .container .pregunta .alternativas .alternativa label div {
        width: 40px;
        height: 40px;
        display: inline-block;
        border: 2px solid #93bb3c;
        text-align: center;
        line-height: 20px;
        margin-right: 6px;
        border-radius: 3px;
        cursor: pointer; }
      #cabeceraTest .container .pregunta .alternativas .alternativa label i, #footerTest .container .pregunta .alternativas .alternativa label i, .cuerpoTest .container .pregunta .alternativas .alternativa label i {
        font-size: 40px;
        opacity: 0;
        color: #93bb3c; }
    #cabeceraTest .container .pregunta .alternativas .alternativa label:hover div, #footerTest .container .pregunta .alternativas .alternativa label:hover div, .cuerpoTest .container .pregunta .alternativas .alternativa label:hover div {
      background: #eceeef; }
    #cabeceraTest .container .pregunta .alternativas .alternativa input:checked + label i, #footerTest .container .pregunta .alternativas .alternativa input:checked + label i, .cuerpoTest .container .pregunta .alternativas .alternativa input:checked + label i {
      opacity: 1; }
    #cabeceraTest .container .pregunta .alternativas .alternativa input:checked + label div, #footerTest .container .pregunta .alternativas .alternativa input:checked + label div, .cuerpoTest .container .pregunta .alternativas .alternativa input:checked + label div {
      background: #eceeef; }

#PersonalidadesVocacionales {
  display: none; }
  #PersonalidadesVocacionales .numSeccion {
    color: red; }
  #PersonalidadesVocacionales .tituloSeccion {
    color: red; }
  #PersonalidadesVocacionales #steps {
    color: red; }
  #PersonalidadesVocacionales .preguntaEstandar {
    color: red; }
  #PersonalidadesVocacionales .contenedorCuestionario {
    display: none; }

.fantasy-ilustration {
  display: inline-block;
  background: url(../img/sprite-illustrations.png) no-repeat 0 0;
  width: 133px;
  height: 133px; }

#todoClase {
  width: 80%;
  margin: auto; }
  #todoClase #ClaseExplorarCarrera {
    margin-top: 20px; }
  #todoClase .cuerpoTest .botonesCambio {
    margin-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #todoClase .cuerpoTest .botonesCambio button {
      margin: 10px; }

#misSkillsSection {
  display: none; }
  #misSkillsSection .cabeceraSkills h1 {
    text-align: center; }
  #misSkillsSection .cabeceraSkills .botonesVista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 200px; }
    #misSkillsSection .cabeceraSkills .botonesVista .skillBasico {
      margin-right: 5%; }
    #misSkillsSection .cabeceraSkills .botonesVista .skillEspecializado {
      margin-left: 5%; }
    #misSkillsSection .cabeceraSkills .botonesVista .skillBasico, #misSkillsSection .cabeceraSkills .botonesVista .skillEspecializado {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      /* flex-direction: column; */
      /* flex: 62px; */
      -webkit-box-flex: 0;
          -ms-flex: 0 0 160px;
              flex: 0 0 160px;
      /* background: red; */
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 2px solid #7986CB;
      /* background: #e0f2f1; */ }
      #misSkillsSection .cabeceraSkills .botonesVista .skillBasico img, #misSkillsSection .cabeceraSkills .botonesVista .skillEspecializado img {
        border: 4px solid #4DD0E1;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 113px;
                flex: 0 0 113px; }
      #misSkillsSection .cabeceraSkills .botonesVista .skillBasico button, #misSkillsSection .cabeceraSkills .botonesVista .skillEspecializado button {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 113px;
                flex: 0 0 113px;
        padding: 12px; }
        #misSkillsSection .cabeceraSkills .botonesVista .skillBasico button h2, #misSkillsSection .cabeceraSkills .botonesVista .skillEspecializado button h2 {
          font-size: 20px;
          margin-bottom: 0; }
  #misSkillsSection .carrerasEscoger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* width: 81%; */
    margin: auto;
    margin-top: 37px;
    border: 1px solid #7b1fa2;
    border-radius: 58px 58px;
    /* padding: 52px; */ }
    #misSkillsSection .carrerasEscoger .navegacion {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      #misSkillsSection .carrerasEscoger .navegacion span {
        /* height: 30px; */
        height: 80px;
        width: 40px;
        text-align: center;
        /* margin: auto; */
        font-size: 62px;
        padding: auto;
        color: #0275d8;
        margin-top: 32px; }
    #misSkillsSection .carrerasEscoger .itemCarrera {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 0px;
              flex: 1 1 0px;
      /* background: red; */
      margin: 16px;
      display: flex;
      flex-direction: column;
      flex: 1 1 0px;
      /* background: red; */
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #misSkillsSection .carrerasEscoger .itemCarrera img {
        width: 100px; }
      #misSkillsSection .carrerasEscoger .itemCarrera span {
        width: 100px;
        text-align: center; }
    #misSkillsSection .carrerasEscoger .seleccionada {
      background: rgba(0, 128, 0, 0.18);
      border-radius: 25px; }
  #misSkillsSection .analisis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  #misSkillsSection .cuerpoSkills {
    background: rgba(56, 245, 56, 0.07);
    margin-top: 30px; }
    #misSkillsSection .cuerpoSkills .info-fast h2 {
      text-align: center;
      margin-bottom: 41px; }
    #misSkillsSection .cuerpoSkills .info-fast table {
      border-color: red;
      background: rgba(92, 184, 92, 0.38);
      width: 80%; }
  #misSkillsSection .recomendacionSkill .skillsAltos {
    border: 1px solid #0275d8; }
    #misSkillsSection .recomendacionSkill .skillsAltos .cuerpoTip {
      border: 1px solid #4bbd4b; }
    #misSkillsSection .recomendacionSkill .skillsAltos .talentos {
      border: 1px solid blue; }
  #misSkillsSection .recomendacionSkill .skillBajos {
    border: 1px solid rgba(201, 48, 44, 0.61); }
    #misSkillsSection .recomendacionSkill .skillBajos .cuerpoTip {
      border: 1px solid #c57f1d; }
    #misSkillsSection .recomendacionSkill .skillBajos .talentos {
      border: 1px solid #dc2358; }
  #misSkillsSection .recomendacionSkill .skillsAltos, #misSkillsSection .recomendacionSkill .skillBajos {
    border-radius: 20px;
    margin-top: 15px; }
    #misSkillsSection .recomendacionSkill .skillsAltos .alinearVerticalmente, #misSkillsSection .recomendacionSkill .skillBajos .alinearVerticalmente {
      padding: 10px; }
      #misSkillsSection .recomendacionSkill .skillsAltos .alinearVerticalmente h3, #misSkillsSection .recomendacionSkill .skillBajos .alinearVerticalmente h3 {
        text-align: right;
        font-size: 13px;
        text-decoration: underline; }
      #misSkillsSection .recomendacionSkill .skillsAltos .alinearVerticalmente .cuerpoTip, #misSkillsSection .recomendacionSkill .skillBajos .alinearVerticalmente .cuerpoTip {
        margin: 15px;
        border-radius: 9px; }
      #misSkillsSection .recomendacionSkill .skillsAltos .alinearVerticalmente .talentos, #misSkillsSection .recomendacionSkill .skillBajos .alinearVerticalmente .talentos {
        margin: 23px;
        /* margin-left: 17%; */
        border-radius: 9px;
        padding: 15px; }
      #misSkillsSection .recomendacionSkill .skillsAltos .alinearVerticalmente .botonesTip, #misSkillsSection .recomendacionSkill .skillBajos .alinearVerticalmente .botonesTip {
        text-align: center; }

.alinearVerticalmente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.papaCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 320px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .papaCards .alinearVerticalmente {
    margin: 10px;
    border: 1px solid #4DD0E1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 189px;
            flex: 0 0 189px; }
    .papaCards .alinearVerticalmente h2 {
      font-size: 21px;
      color: #4DD0E1;
      text-align: center; }
    .papaCards .alinearVerticalmente p {
      font-size: 13px;
      text-align: center;
      color: #989494;
      margin-top: 20px; }

#miCarreraDetail #mynetwork {
  height: 600px; }
#miCarreraDetail #eventSpan {
  display: none; }

.cabMisCar h2 {
  text-align: center; }

.detalleCarreras {
  border: 1px solid #aeea00 !important;
  height: 350px; }
  .detalleCarreras h2 {
    color: #8bc34a !important; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #f2f2f2;
  font-family: "Roboto", Arial; }

.wrap {
  max-width: 500px;
  padding: 40px;
  margin: auto; }

.contenedor-formulario .formulario {
  width: 100%;
  margin: auto; }
  .contenedor-formulario .formulario .input-group {
    position: relative;
    margin-bottom: 32px; }
    .contenedor-formulario .formulario .input-group input[type="text"],
    .contenedor-formulario .formulario .input-group input[type="email"],
    .contenedor-formulario .formulario .input-group input[type="password"], .contenedor-formulario .formulario .input-group select {
      font-family: "Roboto", Arial;
      font-size: 16px;
      color: #303f9f;
      width: 100%;
      outline: none;
      padding: 15px;
      background: none;
      border: none;
      border-bottom: 2px solid #BBDEFB;
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
      .contenedor-formulario .formulario .input-group input[type="text"]:focus, .contenedor-formulario .formulario .input-group input[type="text"]:active,
      .contenedor-formulario .formulario .input-group input[type="email"]:focus,
      .contenedor-formulario .formulario .input-group input[type="email"]:active,
      .contenedor-formulario .formulario .input-group input[type="password"]:focus,
      .contenedor-formulario .formulario .input-group input[type="password"]:active, .contenedor-formulario .formulario .input-group select:focus, .contenedor-formulario .formulario .input-group select:active {
        outline: none;
        border-bottom: 2px solid #303f9f; }
      .contenedor-formulario .formulario .input-group input[type="text"].error,
      .contenedor-formulario .formulario .input-group input[type="email"].error,
      .contenedor-formulario .formulario .input-group input[type="password"].error, .contenedor-formulario .formulario .input-group select.error {
        border-bottom: 2px solid #d32f2f; }
        .contenedor-formulario .formulario .input-group input[type="text"].error + label,
        .contenedor-formulario .formulario .input-group input[type="email"].error + label,
        .contenedor-formulario .formulario .input-group input[type="password"].error + label, .contenedor-formulario .formulario .input-group select.error + label {
          color: #d32f2f; }
    .contenedor-formulario .formulario .input-group label {
      color: #303f9f;
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
      .contenedor-formulario .formulario .input-group label.label {
        position: absolute;
        top: 16px;
        left: 0;
        font-size: 16px;
        line-height: 16px;
        margin-left: 16px;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
        .contenedor-formulario .formulario .input-group label.label.active {
          top: -12px;
          font-size: 12px;
          line-height: 12px;
          color: white; }
    .contenedor-formulario .formulario .input-group.checkbox label, .contenedor-formulario .formulario .input-group.radio label {
      display: inline-block;
      cursor: pointer;
      color: #303f9f;
      position: relative;
      padding: 5px 15px 5px 51px;
      font-size: 1em;
      border-radius: 3px;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      .contenedor-formulario .formulario .input-group.checkbox label:hover, .contenedor-formulario .formulario .input-group.radio label:hover {
        background: #bbdefb; }
      .contenedor-formulario .formulario .input-group.checkbox label:before, .contenedor-formulario .formulario .input-group.radio label:before {
        content: "";
        width: 17px;
        height: 17px;
        display: inline-block;
        border: 3px solid #0074D9;
        border-radius: 50%;
        background: none;
        border: 2px solid #303f9f;
        position: absolute;
        left: 17px;
        top: 9px; }
    .contenedor-formulario .formulario .input-group.error label {
      color: #d32f2f; }
      .contenedor-formulario .formulario .input-group.error label:hover {
        background: rgba(211, 47, 47, 0.2); }
      .contenedor-formulario .formulario .input-group.error label:before {
        border: 2px solid #d32f2f; }
    .contenedor-formulario .formulario .input-group.radio input[type="radio"] {
      display: none; }
      .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label:before {
        display: none; }
      .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label {
        padding: 5px 15px;
        background: #303f9f;
        border-radius: 2px;
        color: white; }
    .contenedor-formulario .formulario .input-group.checkbox label:before {
      border-radius: 3px; }
    .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
      display: none; }
      .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
        display: none; }
      .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
        padding: 5px 15px;
        background: #303f9f;
        border-radius: 3px;
        color: white; }
  .contenedor-formulario .formulario input[type="submit"] {
    background: #303f9f;
    border-radius: 1px;
    border: 2px solid #f2f2f2;
    color: #Fff;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    width: 100%;
    font-family: "Roboto", Arial;
    font-size: 16px;
    -webkit-transition: all 3s ease;
    transition: all 3s ease; }
    .contenedor-formulario .formulario input[type="submit"]:hover {
      background: #1976d2; }

.formulario1 h2 {
  font-size: 16px;
  color: #001F3F;
  margin-bottom: 20px;
  margin-left: 20px; }
.formulario1 > div {
  padding: 20px 0;
  border-bottom: 1px solid #ccc; }
.formulario1 input[type="radio"], .formulario1 input[type="checkbox"] {
  display: none; }
.formulario1 .radio label, .formulario1 .checkbox label {
  color: #0074D9;
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 15px 5px 51px;
  display: inline-block;
  position: relative;
  font-size: 1em;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.formulario1 .radio label:hover, .formulario1 .checkbox label:hover {
  background: rgba(0, 116, 217, 0.4); }
.formulario1 .radio label:before, .formulario1 .checkbox label:before {
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  border: 3px solid #0074D9;
  border-radius: 50%;
  position: absolute;
  left: 17px;
  top: 9px; }
.formulario1 .checkbox label:before {
  border-radius: 3px; }
.formulario1 input[type="radio"]:checked + label, .formulario1 input[type="checkbox"]:checked + label {
  padding: 5px 15px;
  background: #0774D9;
  border-radius: 2px;
  color: #fff; }
.formulario1 input[type="radio"]:checked + label:before, .formulario1 input[type="checkbox"]:checked + label:before {
  display: none; }

.desaparecer {
  display: none; }

.degradados {
  background: -webkit-radial-gradient(center, blue 0%, red 30%, green 80%, yellow 100%);
  height: 300px;
  width: 300px;
  display: none; }

.nube {
  width: 200px;
  height: 110px;
  position: absolute;
  background-repeat: no-repeat; }

.nube0 {
  -webkit-animation: movimiento0 100s infinite;
          animation: movimiento0 100s infinite; }

.nube1 {
  -webkit-animation: movimiento1 50s infinite;
          animation: movimiento1 50s infinite; }

.nube2 {
  -webkit-animation: movimiento2 100s infinite;
          animation: movimiento2 100s infinite; }

@-webkit-keyframes movimiento0 {
  from {
    margin-left: 100%; }
  to {
    margin-left: -30%; } }

@keyframes movimiento0 {
  from {
    margin-left: 100%; }
  to {
    margin-left: -30%; } }
@-webkit-keyframes movimiento1 {
  from {
    margin-left: 30%;
    margin-top: 8%; }
  to {
    margin-left: 70%;
    margin-top: 10%; } }
@keyframes movimiento1 {
  from {
    margin-left: 30%;
    margin-top: 8%; }
  to {
    margin-left: 70%;
    margin-top: 10%; } }
@-webkit-keyframes movimiento2 {
  from {
    margin-left: -30%;
    margin-top: 3%; }
  to {
    margin-left: 100%;
    margin-top: 5%; } }
@keyframes movimiento2 {
  from {
    margin-left: -30%;
    margin-top: 3%; }
  to {
    margin-left: 100%;
    margin-top: 5%; } }
.fondo {
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: 1; }

.nave {
  display: none;
  position: absolute;
  z-index: 3;
  bottom: 0; }

#loginPrincipal {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #96c93d;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #96c93d), color-stop(25%, rgba(150, 201, 61, 0.89)), color-stop(46%, rgba(0, 176, 167, 0.8)), color-stop(89%, rgba(35, 7, 77, 0.61)), color-stop(100%, rgba(35, 7, 77, 0.56)));
  background: linear-gradient(45deg, #96c93d 0%, rgba(150, 201, 61, 0.89) 25%, rgba(0, 176, 167, 0.8) 46%, rgba(35, 7, 77, 0.61) 89%, rgba(35, 7, 77, 0.56) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c93d', endColorstr='#23074d', GradientType=1 ); }
  #loginPrincipal #LoginPart {
    margin: auto;
    width: 100%;
    z-index: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    #loginPrincipal #LoginPart .tituloLogin h2 {
      font-size: 1.5em;
      color: #fdf3f3;
      border-bottom: 0.3px solid white;
      height: 43px; }
    #loginPrincipal #LoginPart .containerCarousel, #loginPrincipal #LoginPart .next, #loginPrincipal #LoginPart .prev {
      display: none; }
    #loginPrincipal #LoginPart .contenedorTarjetas {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      #loginPrincipal #LoginPart .contenedorTarjetas .contenedor_tarjeta {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-transition: all ease .5s;
        transition: all ease .5s; }
        #loginPrincipal #LoginPart .contenedorTarjetas .contenedor_tarjeta a {
          display: inline-block;
          overflow: hidden;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 300px; }
        #loginPrincipal #LoginPart .contenedorTarjetas .contenedor_tarjeta #wawaLogeate {
          height: 380px;
          -ms-flex-negative: 0;
              flex-shrink: 0;
          -ms-flex-preferred-size: 300px;
              flex-basis: 300px;
          -webkit-transition: all ease .5s;
          transition: all ease .5s; }
        #loginPrincipal #LoginPart .contenedorTarjetas .contenedor_tarjeta figure {
          -ms-flex-negative: 0;
              flex-shrink: 0;
          width: 300px;
          height: 380px;
          margin: 0;
          position: relative;
          -webkit-transition: all ease .5s;
          transition: all ease .5s;
          -webkit-transform-style: preserve-3d;
                  transform-style: preserve-3d;
          -webkit-transform: perspective(600px) rotateY(0deg);
                  transform: perspective(600px) rotateY(0deg); }
          #loginPrincipal #LoginPart .contenedorTarjetas .contenedor_tarjeta figure .frontal, #loginPrincipal #LoginPart .contenedorTarjetas .contenedor_tarjeta figure .trasera {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            -webkit-transition: all ease .5s;
            transition: all ease .5s; }
          #loginPrincipal #LoginPart .contenedorTarjetas .contenedor_tarjeta figure .frontal {
            display: block; }
          #loginPrincipal #LoginPart .contenedorTarjetas .contenedor_tarjeta figure .trasera {
            background: rgba(125, 198, 230, 0.21);
            position: absolute;
            top: 0;
            padding: 20px;
            color: #fff;
            -webkit-transform: perspective(600px) rotateY(180deg);
                    transform: perspective(600px) rotateY(180deg);
            -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
            overflow: hidden; }
            #loginPrincipal #LoginPart .contenedorTarjetas .contenedor_tarjeta figure .trasera hr {
              border-color: white; }
            #loginPrincipal #LoginPart .contenedorTarjetas .contenedor_tarjeta figure .trasera .socialCenter {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
              /* margin-top: 50%; */
              height: 122px;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center; }
              #loginPrincipal #LoginPart .contenedorTarjetas .contenedor_tarjeta figure .trasera .socialCenter a {
                color: white; }
              #loginPrincipal #LoginPart .contenedorTarjetas .contenedor_tarjeta figure .trasera .socialCenter .btn-facebook {
                width: 260px;
                background: #405499;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
                color: white; }
              #loginPrincipal #LoginPart .contenedorTarjetas .contenedor_tarjeta figure .trasera .socialCenter .btn-loguearte {
                color: white;
                width: 260px;
                background: #167e98;
                cursor: pointer; }
              #loginPrincipal #LoginPart .contenedorTarjetas .contenedor_tarjeta figure .trasera .socialCenter .textComp {
                text-align: center;
                color: #1a958b; }
    #loginPrincipal #LoginPart .contenedor_tarjeta:hover .tituloCard {
      display: none; }
    #loginPrincipal #LoginPart .contenedor_tarjeta:hover figure {
      -webkit-transform: perspective(600px) rotateY(180deg);
              transform: perspective(600px) rotateY(180deg); }
      #loginPrincipal #LoginPart .contenedor_tarjeta:hover figure img {
        -webkit-filter: blur(2px);
                filter: blur(2px); }

.logo {
  height: 100px;
  width: 200px;
  position: absolute; }

a {
  text-decoration: none; }

.movimientoVerticalArriba {
  -webkit-transform: translateY(-380px);
          transform: translateY(-380px); }

.mueveteHorizontal {
  -webkit-transform: translateX(-300px) !important;
          transform: translateX(-300px) !important; }

.moon {
  position: absolute;
  right: 60px;
  top: 60px;
  margin: -50px;
  width: 100px;
  height: 100px;
  background: #c7cbd0;
  border-radius: 50%;
  -webkit-box-shadow: inset -12.5px 0px 0 0px #9098a1;
          box-shadow: inset -12.5px 0px 0 0px #9098a1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out; }
  .moon:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .moon li {
    position: absolute;
    list-style: none;
    background: #737277;
    border-radius: 50%; }
  .moon li:nth-child(1) {
    left: 12.5px;
    top: 30px;
    width: 25px;
    height: 25px;
    -webkit-box-shadow: inset 3px -1px 0 0px #414043;
            box-shadow: inset 3px -1px 0 0px #414043; }
  .moon li:nth-child(2) {
    left: 75px;
    top: 25px;
    width: 12.5px;
    height: 12.5px;
    -webkit-box-shadow: inset 1.5px -0.5px 0 0px #414043;
            box-shadow: inset 1.5px -0.5px 0 0px #414043; }
  .moon li:nth-child(3) {
    left: 50px;
    top: 75px;
    width: 12.5px;
    height: 12.5px;
    -webkit-box-shadow: inset 1.5px -0.5px 0 0px #414043;
            box-shadow: inset 1.5px -0.5px 0 0px #414043; }
  .moon li:nth-child(4) {
    left: 25px;
    top: 75px;
    width: 6.25px;
    height: 6.25px;
    -webkit-box-shadow: inset 1.2px -0.4px 0 0px #414043;
            box-shadow: inset 1.2px -0.4px 0 0px #414043; }
  .moon li:nth-child(5) {
    left: 43.75px;
    top: 8.33333px;
    width: 6.25px;
    height: 6.25px;
    -webkit-box-shadow: inset 1.2px -0.4px 0 0px #414043;
            box-shadow: inset 1.2px -0.4px 0 0px #414043; }
  .moon li:nth-child(6) {
    left: 57.14286px;
    top: 40px;
    width: 6.25px;
    height: 6.25px;
    -webkit-box-shadow: inset 1.2px -0.4px 0 0px #414043;
            box-shadow: inset 1.2px -0.4px 0 0px #414043; }
  .moon li:nth-child(7) {
    left: 90.90909px;
    top: 50px;
    width: 6.25px;
    height: 6.25px;
    -webkit-box-shadow: inset 1.2px -0.4px 0 0px #414043;
            box-shadow: inset 1.2px -0.4px 0 0px #414043; }

.bg {
  overflow: hidden;
  position: absolute;
  height: 300px;
  width: 100%;
  bottom: 0; }

.mountain, .mountain-two, .mountain-three {
  position: absolute;
  bottom: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 180px solid #7ac1e4;
  z-index: 1; }

.mountain-two {
  left: 80px;
  bottom: -20px;
  opacity: .3;
  z-index: 0; }

.mountain-three {
  left: -60px;
  bottom: -10px;
  opacity: .5;
  z-index: 0; }

.mountain-top {
  position: absolute;
  right: -65px;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-bottom: 77px solid #ceeaf6;
  z-index: 2; }

.mountain-cap-1, .mountain-cap-2, .mountain-cap-3 {
  position: absolute;
  top: 70px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ceeaf6; }

.mountain-cap-1 {
  left: -55px; }

.mountain-cap-2 {
  left: -25px; }

.mountain-cap-3 {
  left: 5px; }

.cloud, .cloud:before, .cloud:after {
  position: absolute;
  width: 70px;
  height: 30px;
  background: #fff;
  border-radius: 100px / 50px; }

.cloud {
  bottom: 100px;
  -webkit-animation: cloud 50s infinite linear;
  animation: cloud 50s infinite linear; }

@-webkit-keyframes cloud {
  0% {
    left: -100px; }
  100% {
    left: 1000px; } }
@keyframes cloud {
  0% {
    left: -100px; }
  100% {
    left: 1000px; } }
.cloud:before {
  content: '';
  left: 50px; }

.cloud:after {
  content: '';
  left: 25px;
  top: -10px; }

.mov1 {
  -webkit-transform: translate(60vw, 0);
          transform: translate(60vw, 0); }

.floor {
  width: 120%;
  height: 100px;
  position: absolute;
  bottom: -58px;
  left: -78px;
  border-radius: 50%;
  z-index: 5;
  background: #a0cd50;
  background: -webkit-gradient(linear, left top, right top, from(#7db718), to(#43cebd));
  background: linear-gradient(to right, #7db718, #43cebd); }

.tree {
  background: #795548;
  position: absolute;
  width: 15px;
  height: 40px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.leaf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }

.leaf:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 50px;
  border-color: transparent transparent #388E3C transparent;
  margin-top: -125px;
  margin-left: -43px; }

.leaf:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 100px 0;
  border-color: transparent transparent #1B5E20 transparent;
  margin-top: -125px; }

.tree#one {
  margin-top: 150px;
  margin-left: 44px;
  bottom: 0;
  z-index: 6; }

.costado0 {
  left: 2vw;
  -webkit-transform: scale(0.4);
          transform: scale(0.4); }

.costado1 {
  left: 5vw;
  -webkit-transform: scale(0.5);
          transform: scale(0.5); }

.costado2 {
  left: 15vw;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  z-index: 5; }

.costado3 {
  left: 10vw;
  -webkit-transform: scale(0.4);
          transform: scale(0.4); }

.costado4 {
  left: 13vw;
  -webkit-transform: scale(0.4);
          transform: scale(0.4); }

.costado5 {
  left: 7vw;
  -webkit-transform: scale(0.4);
          transform: scale(0.4); }

.rocket {
  position: absolute;
  width: 80px;
  bottom: -22px;
  right: 30px;
  z-index: 4;
  -webkit-transform: scale(0.5);
          transform: scale(0.5); }
  .rocket .rocket-body {
    width: 80px;
    left: calc(50% - 50px);
    -webkit-animation: bounce 0.5s infinite;
            animation: bounce 0.5s infinite; }
    .rocket .rocket-body .body {
      background-color: #dadada;
      height: 180px;
      left: calc(50% - 50px);
      border-top-right-radius: 100%;
      border-top-left-radius: 100%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-top: 5px solid #f5f5f5; }
    .rocket .rocket-body:before {
      content: '';
      position: absolute;
      left: calc(50% - 24px);
      width: 48px;
      height: 13px;
      background-color: #554842;
      bottom: -13px;
      border-bottom-right-radius: 60%;
      border-bottom-left-radius: 60%; }
  .rocket .window {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #a75248;
    left: calc(50% - 25px);
    top: 40px;
    border: 5px solid #b4b2b2; }
  .rocket .fin {
    position: absolute;
    z-index: -100;
    height: 55px;
    width: 50px;
    background-color: #a75248; }
  .rocket .fin-left {
    left: -30px;
    top: calc(100% - 55px);
    border-top-left-radius: 80%;
    border-bottom-left-radius: 20%; }
  .rocket .fin-right {
    right: -30px;
    top: calc(100% - 55px);
    border-top-right-radius: 80%;
    border-bottom-right-radius: 20%; }
  .rocket .exhaust-flame {
    position: absolute;
    top: 90%;
    width: 28px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, transparent), to(#f5f5f5));
    background: linear-gradient(to bottom, transparent 10%, #f5f5f5 100%);
    height: 150px;
    left: calc(50% - 14px);
    -webkit-animation: exhaust 0.2s infinite;
            animation: exhaust 0.2s infinite; }
  .rocket .exhaust-fumes li {
    width: 60px;
    height: 60px;
    background-color: #f5f5f5;
    list-style: none;
    position: absolute;
    border-radius: 100%; }
    .rocket .exhaust-fumes li:first-child {
      width: 200px;
      height: 200px;
      bottom: -300px;
      -webkit-animation: fumes 5s infinite;
              animation: fumes 5s infinite; }
    .rocket .exhaust-fumes li:nth-child(2) {
      width: 150px;
      height: 150px;
      left: -120px;
      top: 260px;
      -webkit-animation: fumes 3.2s infinite;
              animation: fumes 3.2s infinite; }
    .rocket .exhaust-fumes li:nth-child(3) {
      width: 120px;
      height: 120px;
      left: -40px;
      top: 330px;
      -webkit-animation: fumes 3s 1s infinite;
              animation: fumes 3s 1s infinite; }
    .rocket .exhaust-fumes li:nth-child(4) {
      width: 100px;
      height: 100px;
      left: -170px;
      -webkit-animation: fumes 4s 2s infinite;
              animation: fumes 4s 2s infinite;
      top: 380px; }
    .rocket .exhaust-fumes li:nth-child(5) {
      width: 130px;
      height: 130px;
      left: -120px;
      top: 350px;
      -webkit-animation: fumes 5s infinite;
              animation: fumes 5s infinite; }
    .rocket .exhaust-fumes li:nth-child(6) {
      width: 200px;
      height: 200px;
      left: -60px;
      top: 280px;
      -webkit-animation: fumes2 10s infinite;
              animation: fumes2 10s infinite; }
    .rocket .exhaust-fumes li:nth-child(7) {
      width: 100px;
      height: 100px;
      left: -100px;
      top: 320px; }
    .rocket .exhaust-fumes li:nth-child(8) {
      width: 110px;
      height: 110px;
      left: 70px;
      top: 340px; }
    .rocket .exhaust-fumes li:nth-child(9) {
      width: 90px;
      height: 90px;
      left: 200px;
      top: 380px;
      -webkit-animation: fumes 20s infinite;
              animation: fumes 20s infinite; }

.star li {
  list-style: none;
  position: absolute; }
  .star li:before, .star li:after {
    content: '';
    position: absolute;
    background-color: #f5f5f5; }
  .star li:before {
    width: 10px;
    height: 2px;
    border-radius: 50%; }
  .star li:after {
    height: 8px;
    width: 2px;
    left: 4px;
    top: -3px; }
  .star li:first-child {
    top: -30px;
    left: -210px;
    -webkit-animation: twinkle 0.4s infinite;
            animation: twinkle 0.4s infinite; }
  .star li:nth-child(2) {
    top: 0;
    left: 60px;
    -webkit-animation: twinkle 0.5s infinite;
            animation: twinkle 0.5s infinite; }
    .star li:nth-child(2):before {
      height: 1px;
      width: 5px; }
    .star li:nth-child(2):after {
      width: 1px;
      height: 5px;
      top: -2px;
      left: 2px; }
  .star li:nth-child(3) {
    left: 120px;
    top: 220px;
    -webkit-animation: twinkle 1s infinite;
            animation: twinkle 1s infinite; }
  .star li:nth-child(4) {
    left: -100px;
    top: 200px;
    -webkit-animation: twinkle 0.5s ease infinite;
            animation: twinkle 0.5s ease infinite; }
  .star li:nth-child(5) {
    left: 170px;
    top: 100px;
    -webkit-animation: twinkle 0.4s ease infinite;
            animation: twinkle 0.4s ease infinite; }
  .star li:nth-child(6) {
    top: 87px;
    left: -79px;
    -webkit-animation: twinkle 0.2s infinite;
            animation: twinkle 0.2s infinite; }
    .star li:nth-child(6):before {
      height: 1px;
      width: 5px; }
    .star li:nth-child(6):after {
      width: 1px;
      height: 5px;
      top: -2px;
      left: 2px; }

@-webkit-keyframes fumes {
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background-color: transparent; }
  51% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    background-color: #f5f5f5;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes fumes {
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    background-color: transparent; }
  51% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    background-color: #f5f5f5;
    -webkit-transform: scale(1);
            transform: scale(1); } }
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0); }
  50% {
    -webkit-transform: translate3d(0px, -4px, 0);
            transform: translate3d(0px, -4px, 0); }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0); } }
@keyframes bounce {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0); }
  50% {
    -webkit-transform: translate3d(0px, -4px, 0);
            transform: translate3d(0px, -4px, 0); }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0); } }
@-webkit-keyframes exhaust {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, transparent), to(#f5f5f5));
    background: linear-gradient(to bottom, transparent 10%, #f5f5f5 100%); }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, transparent), to(#f5f5f5));
    background: linear-gradient(to bottom, transparent 8%, #f5f5f5 100%); }
  75% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, transparent), to(#f5f5f5));
    background: linear-gradient(to bottom, transparent 12%, #f5f5f5 100%); } }
@keyframes exhaust {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, transparent), to(#f5f5f5));
    background: linear-gradient(to bottom, transparent 10%, #f5f5f5 100%); }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, transparent), to(#f5f5f5));
    background: linear-gradient(to bottom, transparent 8%, #f5f5f5 100%); }
  75% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, transparent), to(#f5f5f5));
    background: linear-gradient(to bottom, transparent 12%, #f5f5f5 100%); } }
@-webkit-keyframes fumes2 {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }
@keyframes fumes2 {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }
@-webkit-keyframes twinkle {
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.7; } }
@keyframes twinkle {
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.7; } }
.rocket {
  animation: rocketMov linear 9s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: rocketMov linear 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: rocketMov linear 9s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: rocketMov linear 9s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: rocketMov linear 9s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%; }

@keyframes rocketMov {
  0% {
    -webkit-transform: translate(0px, 0px) scaleX(0.5) scaleY(0.5);
            transform: translate(0px, 0px) scaleX(0.5) scaleY(0.5); }
  53% {
    -webkit-transform: translate(37px, -260px) scaleX(0.3) scaleY(0.3);
            transform: translate(37px, -260px) scaleX(0.3) scaleY(0.3); }
  100% {
    -webkit-transform: translate(1px, -51px) scaleX(0.5) scaleY(0.5);
            transform: translate(1px, -51px) scaleX(0.5) scaleY(0.5); } }
@-webkit-keyframes rocketMov {
  0% {
    -webkit-transform: translate(0px, 0px) scaleX(0.5) scaleY(0.5); }
  53% {
    -webkit-transform: translate(37px, -260px) scaleX(0.3) scaleY(0.3); }
  100% {
    -webkit-transform: translate(1px, -51px) scaleX(0.5) scaleY(0.5); } }
.cuerpoCentral {
  padding-top: 48px; }

.navigation-vertical {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.02%, #31A8C5), color-stop(100.02%, #31C5BE));
  background: linear-gradient(90deg, #31A8C5 0.02%, #31C5BE 100.02%);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  height: 48px;
  width: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  z-index: 3; }
  @media screen and (max-width: 625px) {
    .navigation-vertical {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .navigation-vertical .estatica {
    font-size: 1.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 243px;
            flex: 0 1 243px;
    margin-left: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 365px) {
      .navigation-vertical .estatica {
        -webkit-box-flex: 0;
            -ms-flex: 0 1 160px;
                flex: 0 1 160px; } }
    .navigation-vertical .estatica i {
      -webkit-transition: all ease .5s;
      transition: all ease .5s;
      font-size: 36px; }
    .navigation-vertical .estatica span {
      margin: 0;
      font-size: 1.2rem;
      margin-right: 4px;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 0px;
              flex: 1 0 0px;
      text-align: center; }
      @media screen and (max-width: 400px) {
        .navigation-vertical .estatica span {
          font-size: 15px; } }
  .navigation-vertical .infoMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 10;
        -ms-flex: 10 0 0px;
            flex: 10 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 625px) {
      .navigation-vertical .infoMenu {
        display: none; } }
    .navigation-vertical .infoMenu span {
      margin: 0;
      font-size: 1.45rem; }
  .navigation-vertical .notificacionMenu {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 0px;
            flex: 2 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 10px;
    font-size: 1.2em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 625px) {
      .navigation-vertical .notificacionMenu {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 115px;
                flex: 0 0 115px; } }

.sidebar {
  position: fixed;
  width: 250px;
  color: white;
  z-index: 2;
  height: 100vh;
  -webkit-box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.25);
  background: rgba(49, 168, 197, 0.8);
  -webkit-transform: translateX(-275px);
          transform: translateX(-275px);
  -webkit-transition: all ease .5s;
  transition: all ease .5s; }
  .sidebar a {
    color: #fff;
    text-decoration: none; }
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .sidebar .cabecera {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #31A8C5;
    height: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .sidebar .cabecera h3 {
      font-size: 1.5rem;
      margin: 0; }
    .sidebar .cabecera i {
      font-size: 25px;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
  .sidebar .datosBasicos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 12%;
    max-height: 120px;
    margin-top: 64px; }
    @media screen and (max-height: 500px) {
      .sidebar .datosBasicos {
        margin-bottom: 3px;
        margin-top: 75px; } }
    .sidebar .datosBasicos img {
      height: 88px; }
    .sidebar .datosBasicos .datos {
      padding-left: 0.8rem;
      text-align: left; }
      .sidebar .datosBasicos .datos span:nth-child(1) {
        font-size: 1.1rem; }
      .sidebar .datosBasicos .datos span:nth-child(2) {
        font-size: 0.8rem; }
  .sidebar .linkNavigation {
    height: 76%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .sidebar .linkNavigation .navigation {
      text-align: center; }
      @media screen and (max-height: 500px) {
        .sidebar .linkNavigation .navigation ul a {
          margin-top: 10px;
          margin-bottom: 10px;
          height: 25px; } }
      .sidebar .linkNavigation .navigation ul a span {
        margin-right: 24px; }
      .sidebar .linkNavigation .navigation ul a:hover, .sidebar .linkNavigation .navigation ul .actived {
        background: #2979FF; }
    .sidebar .linkNavigation .navigation:nth-child(2) {
      border-top: 1px solid #107c96;
      text-align: center; }
      .sidebar .linkNavigation .navigation:nth-child(2) ul a {
        padding-left: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }

.navigation ul a {
  background: rgba(37, 155, 184, 0.33);
  border-radius: 11px;
  text-align: left;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.mostrarHorizontal {
  -webkit-transform: translateX(0px);
          transform: translateX(0px); }

.voltearBar {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.circuloMaterial {
  color: white;
  height: 55px;
  width: 55px;
  position: fixed;
  background: #009688;
  /* top: 0; */
  z-index: 4;
  bottom: 36px;
  right: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24); }

#cuerpo-mi-test, #cuerpo-mis-Skills {
  padding: 20px; }
  #cuerpo-mi-test #mensajeEntrada, #cuerpo-mis-Skills #mensajeEntrada {
    margin-top: 13vh;
    padding: 20px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #cuerpo-mi-test #mensajeEntrada #contenidoMensaje, #cuerpo-mis-Skills #mensajeEntrada #contenidoMensaje {
      -webkit-box-shadow: 0 0 81px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
              box-shadow: 0 0 81px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
      padding: 20px; }
      #cuerpo-mi-test #mensajeEntrada #contenidoMensaje #primerNivel, #cuerpo-mis-Skills #mensajeEntrada #contenidoMensaje #primerNivel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        #cuerpo-mi-test #mensajeEntrada #contenidoMensaje #primerNivel #izquierda, #cuerpo-mis-Skills #mensajeEntrada #contenidoMensaje #primerNivel #izquierda {
          margin: 0 19px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          #cuerpo-mi-test #mensajeEntrada #contenidoMensaje #primerNivel #izquierda img, #cuerpo-mis-Skills #mensajeEntrada #contenidoMensaje #primerNivel #izquierda img {
            height: 146px; }
        #cuerpo-mi-test #mensajeEntrada #contenidoMensaje #primerNivel #derecha, #cuerpo-mis-Skills #mensajeEntrada #contenidoMensaje #primerNivel #derecha {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          #cuerpo-mi-test #mensajeEntrada #contenidoMensaje #primerNivel #derecha #tituloMensaje, #cuerpo-mis-Skills #mensajeEntrada #contenidoMensaje #primerNivel #derecha #tituloMensaje {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
        @media screen and (max-width: 768px) {
          #cuerpo-mi-test #mensajeEntrada #contenidoMensaje #primerNivel, #cuerpo-mis-Skills #mensajeEntrada #contenidoMensaje #primerNivel {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; } }
      #cuerpo-mi-test #mensajeEntrada #contenidoMensaje #segundoNivel #botones, #cuerpo-mis-Skills #mensajeEntrada #contenidoMensaje #segundoNivel #botones {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin-top: 20px;
        color: #009688; }
        #cuerpo-mi-test #mensajeEntrada #contenidoMensaje #segundoNivel #botones #separador, #cuerpo-mis-Skills #mensajeEntrada #contenidoMensaje #segundoNivel #botones #separador {
          margin-right: 10%; }
        #cuerpo-mi-test #mensajeEntrada #contenidoMensaje #segundoNivel #botones #empezarButton, #cuerpo-mis-Skills #mensajeEntrada #contenidoMensaje #segundoNivel #botones #empezarButton {
          cursor: pointer; }
      #cuerpo-mi-test #mensajeEntrada #contenidoMensaje h1, #cuerpo-mis-Skills #mensajeEntrada #contenidoMensaje h1 {
        font-size: 1.6rem; }
  #cuerpo-mi-test #despuesMensaje, #cuerpo-mi-test #contenido-cuerpo, #cuerpo-mis-Skills #despuesMensaje, #cuerpo-mis-Skills #contenido-cuerpo {
    height: 100%; }
    #cuerpo-mi-test #despuesMensaje #cabeceraTest, #cuerpo-mi-test #contenido-cuerpo #cabeceraTest, #cuerpo-mis-Skills #despuesMensaje #cabeceraTest, #cuerpo-mis-Skills #contenido-cuerpo #cabeceraTest {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 10%;
      width: 100%; }
      #cuerpo-mi-test #despuesMensaje #cabeceraTest span, #cuerpo-mi-test #contenido-cuerpo #cabeceraTest span, #cuerpo-mis-Skills #despuesMensaje #cabeceraTest span, #cuerpo-mis-Skills #contenido-cuerpo #cabeceraTest span {
        font-size: 22px;
        font-weight: 400;
        line-height: 40px;
        /* margin-bottom: 65px !important; */
        color: #00bcd4; }
      #cuerpo-mi-test #despuesMensaje #cabeceraTest .timeLine, #cuerpo-mi-test #contenido-cuerpo #cabeceraTest .timeLine, #cuerpo-mis-Skills #despuesMensaje #cabeceraTest .timeLine, #cuerpo-mis-Skills #contenido-cuerpo #cabeceraTest .timeLine {
        width: 100%;
        height: 40px;
        position: relative; }
        #cuerpo-mi-test #despuesMensaje #cabeceraTest .timeLine .lineaTransversal, #cuerpo-mi-test #contenido-cuerpo #cabeceraTest .timeLine .lineaTransversal, #cuerpo-mis-Skills #despuesMensaje #cabeceraTest .timeLine .lineaTransversal, #cuerpo-mis-Skills #contenido-cuerpo #cabeceraTest .timeLine .lineaTransversal {
          height: 3px;
          background: #009688;
          /* margin-top: 0px; */
          position: absolute;
          top: 16px;
          width: 93%;
          margin-left: 3%;
          margin-right: 3%;
          z-index: 0; }
        #cuerpo-mi-test #despuesMensaje #cabeceraTest .timeLine .circulos2, #cuerpo-mi-test #contenido-cuerpo #cabeceraTest .timeLine .circulos2, #cuerpo-mis-Skills #despuesMensaje #cabeceraTest .timeLine .circulos2, #cuerpo-mis-Skills #contenido-cuerpo #cabeceraTest .timeLine .circulos2 {
          width: 100%;
          /* height: 20px; */
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          /* padding-right: 50px; */
          z-index: 1; }
          #cuerpo-mi-test #despuesMensaje #cabeceraTest .timeLine .circulos2 .circuloActiva, #cuerpo-mi-test #contenido-cuerpo #cabeceraTest .timeLine .circulos2 .circuloActiva, #cuerpo-mis-Skills #despuesMensaje #cabeceraTest .timeLine .circulos2 .circuloActiva, #cuerpo-mis-Skills #contenido-cuerpo #cabeceraTest .timeLine .circulos2 .circuloActiva {
            background: #009688 !important; }
            #cuerpo-mi-test #despuesMensaje #cabeceraTest .timeLine .circulos2 .circuloActiva span, #cuerpo-mi-test #contenido-cuerpo #cabeceraTest .timeLine .circulos2 .circuloActiva span, #cuerpo-mis-Skills #despuesMensaje #cabeceraTest .timeLine .circulos2 .circuloActiva span, #cuerpo-mis-Skills #contenido-cuerpo #cabeceraTest .timeLine .circulos2 .circuloActiva span {
              color: white !important; }
          #cuerpo-mi-test #despuesMensaje #cabeceraTest .timeLine .circulos2 .circulo-interno, #cuerpo-mi-test #contenido-cuerpo #cabeceraTest .timeLine .circulos2 .circulo-interno, #cuerpo-mis-Skills #despuesMensaje #cabeceraTest .timeLine .circulos2 .circulo-interno, #cuerpo-mis-Skills #contenido-cuerpo #cabeceraTest .timeLine .circulos2 .circulo-interno {
            z-index: 2;
            height: 40px;
            width: 40px;
            background: white;
            border-radius: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            border: 2px solid #009688;
            -webkit-transition: background-color 0.5s ease;
            transition: background-color 0.5s ease; }
            #cuerpo-mi-test #despuesMensaje #cabeceraTest .timeLine .circulos2 .circulo-interno span, #cuerpo-mi-test #contenido-cuerpo #cabeceraTest .timeLine .circulos2 .circulo-interno span, #cuerpo-mis-Skills #despuesMensaje #cabeceraTest .timeLine .circulos2 .circulo-interno span, #cuerpo-mis-Skills #contenido-cuerpo #cabeceraTest .timeLine .circulos2 .circulo-interno span {
              color: #009688;
              font-size: 22px;
              margin: 0; }
  #cuerpo-mi-test .preguntaActiva, #cuerpo-mis-Skills .preguntaActiva {
    height: 400px !important; }
  #cuerpo-mi-test .pregunta, #cuerpo-mis-Skills .pregunta {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #00bcd4;
    font-size: 21px;
    margin: 23px;
    text-align: center;
    height: 25%;
    margin: 4%;
    margin-top: 12%; }
    #cuerpo-mi-test .pregunta span, #cuerpo-mis-Skills .pregunta span {
      font-size: 15px; }
  #cuerpo-mi-test #preguntasBaby, #cuerpo-mis-Skills #preguntasBaby {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 72%; }
    #cuerpo-mi-test #preguntasBaby .test-preguntas, #cuerpo-mis-Skills #preguntasBaby .test-preguntas {
      -webkit-transition: all ease 1s;
      transition: all ease 1s;
      font-size: 15px !important;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      width: 100%; }
      #cuerpo-mi-test #preguntasBaby .test-preguntas .formulario, #cuerpo-mis-Skills #preguntasBaby .test-preguntas .formulario {
        width: 100%;
        height: 65%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-top: 4%; }
        #cuerpo-mi-test #preguntasBaby .test-preguntas .formulario label:before, #cuerpo-mis-Skills #preguntasBaby .test-preguntas .formulario label:before {
          border: 2px solid #009688; }
        #cuerpo-mi-test #preguntasBaby .test-preguntas .formulario label, #cuerpo-mis-Skills #preguntasBaby .test-preguntas .formulario label {
          color: #056d63; }
        #cuerpo-mi-test #preguntasBaby .test-preguntas .formulario .input-group.checkbox input[type="checkbox"]:checked + label, #cuerpo-mis-Skills #preguntasBaby .test-preguntas .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
          background: #10a99a;
          color: white; }
        #cuerpo-mi-test #preguntasBaby .test-preguntas .formulario .input-group, #cuerpo-mis-Skills #preguntasBaby .test-preguntas .formulario .input-group {
          margin-bottom: 0 !important; }
    #cuerpo-mi-test #preguntasBaby #resultadosTest #canvas-container-skill, #cuerpo-mis-Skills #preguntasBaby #resultadosTest #canvas-container-skill {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  #cuerpo-mi-test #botones, #cuerpo-mis-Skills #botones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    bottom: 20px;
    height: 10%; }
    #cuerpo-mi-test #botones #atras-preg, #cuerpo-mi-test #botones #siguiente-preg, #cuerpo-mis-Skills #botones #atras-preg, #cuerpo-mis-Skills #botones #siguiente-preg {
      background: #f2f2f2;
      border: 2px solid #009688;
      color: #009688; }
    #cuerpo-mi-test #botones #atras-preg, #cuerpo-mi-test #botones #siguiente-preg, #cuerpo-mis-Skills #botones #atras-preg, #cuerpo-mis-Skills #botones #siguiente-preg {
      border-radius: 1px;
      display: inline-block;
      padding: 15px;
      width: 100%;
      font-size: 16px;
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
    #cuerpo-mi-test #botones .botonSigActivado, #cuerpo-mis-Skills #botones .botonSigActivado {
      cursor: pointer !important;
      background: #009688 !important;
      color: white !important; }

#cuerpo-mis-Skills #contenido-cuerpo #barraPersonalidad {
  height: 17px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #cuerpo-mis-Skills #contenido-cuerpo #barraPersonalidad div {
    text-align: center;
    font-size: 13px;
    color: white; }
#cuerpo-mis-Skills #contenido-cuerpo #mensajeEntrada {
  margin-top: 0 !important; }
#cuerpo-mis-Skills #contenido-cuerpo #carouselSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #cuerpo-mis-Skills #contenido-cuerpo #carouselSkills .izquierdaMov, #cuerpo-mis-Skills #contenido-cuerpo #carouselSkills .derechaMov {
    width: 50px;
    height: 50px;
    background: #1ab48a;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 24px; }
  #cuerpo-mis-Skills #contenido-cuerpo #carouselSkills #cuerpoCarr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 80%;
    margin: 0 10px; }
    #cuerpo-mis-Skills #contenido-cuerpo #carouselSkills #cuerpoCarr .tarjeta {
      width: 300px;
      -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
              box-shadow: 0 0 6px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -webkit-transition: all ease 1s;
      transition: all ease 1s;
      font-size: 15px !important;
      margin-right: 20px; }
      #cuerpo-mis-Skills #contenido-cuerpo #carouselSkills #cuerpoCarr .tarjeta .parteSupTar {
        background: -webkit-gradient(linear, left top, right top, from(#96c93d), to(#00b09b));
        background: linear-gradient(to right, #96c93d, #00b09b);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        #cuerpo-mis-Skills #contenido-cuerpo #carouselSkills #cuerpoCarr .tarjeta .parteSupTar .circuloPuesto {
          position: absolute;
          top: 5px;
          right: 5px;
          width: 40px;
          height: 40px;
          background: #FF5722;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          border-radius: 50%; }
          #cuerpo-mis-Skills #contenido-cuerpo #carouselSkills #cuerpoCarr .tarjeta .parteSupTar .circuloPuesto span {
            color: white;
            font-weight: bold; }
      #cuerpo-mis-Skills #contenido-cuerpo #carouselSkills #cuerpoCarr .tarjeta .parteInfTar {
        background: white;
        padding: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        #cuerpo-mis-Skills #contenido-cuerpo #carouselSkills #cuerpoCarr .tarjeta .parteInfTar .tituloPI {
          margin: 4px;
          font-size: 1.5em;
          font-weight: 700; }
        #cuerpo-mis-Skills #contenido-cuerpo #carouselSkills #cuerpoCarr .tarjeta .parteInfTar .cuerpoPI {
          margin: 4px; }
        #cuerpo-mis-Skills #contenido-cuerpo #carouselSkills #cuerpoCarr .tarjeta .parteInfTar .algunasCarreras {
          margin: 4px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          #cuerpo-mis-Skills #contenido-cuerpo #carouselSkills #cuerpoCarr .tarjeta .parteInfTar .algunasCarreras .carreras {
            font-size: 1.2em;
            font-weight: 700;
            right: 0; }
        #cuerpo-mis-Skills #contenido-cuerpo #carouselSkills #cuerpoCarr .tarjeta .parteInfTar .botonesTarjeta {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          color: #1d938a;
          margin: 10px; }
          #cuerpo-mis-Skills #contenido-cuerpo #carouselSkills #cuerpoCarr .tarjeta .parteInfTar .botonesTarjeta .empezarButton {
            font-size: 1.2em; }

.padreLoginPart {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 800px) {
    .padreLoginPart #LoginPart {
      width: 300px !important; } }
  @media screen and (max-width: 800px) {
    .padreLoginPart #LoginPart .contenedorTarjetas {
      width: 300px;
      overflow: hidden;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      height: 380px; } }
  @media screen and (max-width: 799px) {
    .padreLoginPart .atras {
      width: 40px;
      height: 40px;
      background: #5aa8ad;
      border-radius: 22px;
      padding: 0px;
      border-color: transparent;
      font-size: 24px;
      color: white; } }
  @media screen and (min-width: 800px) {
    .padreLoginPart .atras {
      display: none; } }

@media screen and (max-width: 800px) {
  .containerCarousel, .next, .prev {
    display: block !important; } }

.containerCarousel {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px; }

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px; }

.a {
  -webkit-transform: rotateY(0deg) translateZ(250px);
          transform: rotateY(0deg) translateZ(250px);
  background: #ed1c24; }

.b {
  -webkit-transform: rotateY(60deg) translateZ(250px);
          transform: rotateY(60deg) translateZ(250px);
  background: #0072bc; }

.c {
  -webkit-transform: rotateY(120deg) translateZ(250px);
          transform: rotateY(120deg) translateZ(250px);
  background: #39b54a; }

.d {
  -webkit-transform: rotateY(180deg) translateZ(250px);
          transform: rotateY(180deg) translateZ(250px);
  background: #f26522; }

.e {
  -webkit-transform: rotateY(240deg) translateZ(250px);
          transform: rotateY(240deg) translateZ(250px);
  background: #630460; }

.f {
  -webkit-transform: rotateY(300deg) translateZ(250px);
          transform: rotateY(300deg) translateZ(250px);
  background: #8c6239; }

.next, .prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  -webkit-box-shadow: 0 5px 0 #999;
          box-shadow: 0 5px 0 #999;
  -webkit-transition: top 0.1s, -webkit-box-shadow 0.1s;
  transition: top 0.1s, -webkit-box-shadow 0.1s;
  transition: box-shadow 0.1s, top 0.1s;
  transition: box-shadow 0.1s, top 0.1s, -webkit-box-shadow 0.1s; }

.next:hover, .prev:hover {
  color: #000; }

.next:active, .prev:active {
  top: 104px;
  -webkit-box-shadow: 0 1px 0 #999;
          box-shadow: 0 1px 0 #999; }

.next {
  right: 5em; }

.prev {
  left: 5em; }

.ayudanteSaludar {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0); }

/*# sourceMappingURL=estilos.css.map */