<div class="container cuerpo" *ngIf="identity">
<div id="navigation-vertical" class="row navigation-vertical">  
    <div class="estatica">
        <i id="bars" aria-hidden="true" class="fa fa-bars" (click)="cambiarSideBar()"></i>
         <span *ngIf="this.identity.role=='ROLE_EST'">{{identity.colegio}}</span>  
        
    </div>
    <div class="infoMenu">
        <span >{{identity.name}}</span>
    </div>
    <div class="notificacionMenu">
        <i aria-hidden="true" class="fa fa-heart"></i>
        <i aria-hidden="true" class="fa fa-bell"></i>
        <span>TARMI</span>
    </div>
</div>

    <div id="sidebar" class="sidebar">
        <!-- <div class="cabecera">
            <h3>RUNAKAY SAC</h3>
            <i aria-hidden="true" class="fa fa-bars"></i>
        </div> -->

        <div class="datosBasicos">
            <img src="assets/images/miNave.png">
            <div class="datos">
                <span>{{identity.name}}</span>
                    
            </div>
        </div>
                
                

        <div class="linkNavigation">
            <nav class="navigation">
                <ul>
                    <!-- <a [routerLink]="['/home']" [routerLinkActive]="['actived']">
                        <li>Inicio</li>
                        <span>4</span>
                    </a> -->
                    <a *ngIf="identity.role=='ROLE_EST' " [routerLink]="['/mis-test-oficial']" [routerLinkActive]="['actived']">
                        <li>Mis Test</li>
                    </a>
                    <!-- <a *ngIf="identity.role=='ROLE_EST' " (click)="irAcanvas()"  [routerLinkActive]="['actived']">
                        <li>Juegos</li>
                    </a> -->
                    <!-- <a>
                        <li>Dudas resueltas</li>
                    </a> -->
                    <a *ngIf="identity.role=='ROLE_COLE' " [routerLink]="['/analitycs']" [routerLinkActive]="['actived']">
                        <li>Analitycs</li>
                    </a>
                    <a *ngIf="identity.name=='master' " [routerLink]="['/administracion-usuarios']" [routerLinkActive]="['actived']">
                        <li>Administracion de usuarios</li>
                    </a>
                    <a *ngIf="identity.name=='master' " [routerLink]="['/configurar-test/1']" [routerLinkActive]="['actived']">
                        <li>Administrar Test</li>
                    </a>
                    <a *ngIf="identity.name=='master' " (click)="irAcanvas()" [routerLinkActive]="['actived']">
                        <li>Juegos canvas</li>
                    </a>
                </ul>
            </nav>
            <nav class="navigation">
                <ul>
                    <a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
                        <li>Mis datos</li>
                    </a>
                    <a (click)="logout()">
                        <li>Salir</li>
                    </a>
                </ul>
            </nav>
        </div>

    </div>

    <div id="cuerpoCentral" class="container cuerpoCentral">
      <div class="row">
            <div [class.hidden]="!identity"  id="rechargePart" class="central col-lg-12">
                <router-outlet></router-outlet>
            </div>
    </div>     
    
    </div>  
<div class="circuloMaterial" (click)="llamarAyudante()"  style="
    cursor: pointer;
">
    <i aria-hidden="true" class="fa fa-plus"></i>
</div>
<div id="totalAyudante" class="ayudanteSaludar" style="
    /* display: flex; */
    bottom: 65px;
    right: 68px;
    position: fixed;
            transition: ease-out 0.7s;
">
<div id="ayudante" class="contenedor-formulario" style="
    width: 300px;
    height: 300px;
    background: #f2f2f2;
    -webkit-box-shadow: 0 0 81px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 81px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
    padding: 20px;
">
    <div id="primerNivel" style="
    display: flex;
    height: 100px;
">
                <div id="izquierda" style="
    height: 100%;
">
                    <img alt="" src="../../assets/images/tata2.svg" style="
    height: 100%;
">
                </div>
                <div id="derecha">
    <h1 style="
    font-size: 17px;
    font-weight: bold;
">Mensaje Tarmi :) </h1>
                    
                    <span *ngIf="this.identity.role=='ROLE_EST' " style="font-size: 11px;">
                        Para mejorar la experiencia Tarmi , por favor introduce tu clave de colegio.Gracias
                    </span>
                    <span *ngIf="this.identity.role=='ROLE_COLE' " style="font-size: 11px;">
                        Por favor genere su codigo de activacion 
                    </span>
                </div>
            </div>
    
    
<div  id="cuerpoRequerimiento" class="formulario" >
            <div *ngIf="errorCodActivacion">
                <div class="alert alert-info">
                    <strong>{{errorCodActivacion}}</strong>
                </div>
            </div>
            <div *ngIf="!this.identity.parametros.verificarCodAcceso && this.identity.role=='ROLE_EST' " id="codActivacion">
                            <div class="input-group">
                                <!-- [(ngModel)]="this.identity.credenciales.colegioClave" -->
                                 <input [(ngModel)]="this.identity.claveAccesoAlumno" (blur)="blurInputNormal($event)" (focus)="focusInput($event)" type="text" id="codigoColegio" name="codigoColegio"> 
                                <label class="label" for="codigoColegio">Codigo de activacion</label>
                            </div>
                            <input type="submit" id="btn-submit" value="Verificar" (click)="verificarCodigo()">  



            </div>
            <div *ngIf="this.identity.role=='ROLE_COLE'">
            <div *ngIf="!this.identity.codigoColegio " id="GenerarcodActivacion">    
                <input type="submit" id="btn-submit" value="Generar Codigo" (click)="generarCodigo()">  
            </div>
            <span *ngIf="identity.codigoColegio">Su codigo es : {{identity.codigoColegio}}</span>

            </div>

</div>

</div></div>
 <!-- <div class="circuloMaterial">
    <i class="fa fa-plus" aria-hidden="true"></i>
</div> -->


</div>

<div class="clearfix"></div>
<div class="container" *ngIf="!identity && mostrarTodo">
    <div class="row">
        <div class="col-lg-6" >
            <h1>Identificate</h1>
            <div *ngIf="errorMessage">
                <div class="alert alert-info">
                    <strong>Error!</strong>{{errorMessage}}
                </div>
            </div>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
                <p>
                    <label>Correo Electronico:</label>
                    <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required>
                    <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
                </p>
                <p>
                    <label>Contraseña</label>
                    <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required>
                </p>
                <input type="submit"  value="Entrar" class="btn-primary">
                
            </form>
            <div class="container LoginFacebook">
                <div class="row">
                    <div id="fb-root"></div>
                    <div>No mames wey </div>

                    <div class="fb-login-button" scope="public_profile,email"
                    onlogin="loginFacebook();" data-width="200px" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
                    <div class="botonFacebook" (click)="loginFacebook()">Login Facebook Putitos</div>
                    <div id="status"></div>
                    <div *ngIf="errorMessageRegisterFacebook">
                        <div class="alert alert-info">
                            <strong>{{errorMessageRegister}}</strong>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6" >
            <h1 class="col-md-2">Registrate</h1>
            <div *ngIf="errorMessageRegister">
                <div class="alert alert-info">
                    <strong>{{errorMessageRegister}}</strong>
                </div>
            </div>
            <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-10">
                <p>
                    <label>Nombre:</label>
                    <input type="text"  #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" required>
                    <span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>                
                </p>
                <p>
                    <label>Apellido:</label>
                    <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="form-control" required>
                    <span *ngIf="!surname.valid && surname.touched">Los apellidos son obligatorio</span>                      
                </p>
                <p>
                    <label>Correo Electronico:</label>
                    <input type="email" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="form-control" required>
                    <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
                </p>
                <p>
                    <label>Contraseña</label>
                    <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password" class="form-control" required>
                    <span *ngIf="!password.valid && password.touched">El email es obligatorio</span>                
                </p>
                
                <input type="submit" value="Entrar" class="btn-primary">
                
            </form>
        </div>
    </div>
</div>

<div class="wrap" id="pruebas" *ngIf="mostrarTodo">
    <form action="" class="formulario1">
        <div class="radio">
            <h2>Radio Buttons</h2>
            <input type="radio" name="sexo" id="hombre">
            <label for="hombre">Hombre</label>

            <input type="radio" name="sexo" id="mujer">
            <label for="mujer">Mujer</label>

            <input type="radio" name="sexo" id="alien">
            <label for="alien">Alien</label>
            
        </div>
        <div class="checkbox">
            <h2>Checkboxines :D</h2>
            <input type="checkbox" name="checkbox" id="checkbox">
            <label for="checkbox">Checkboxin 1</label>

            <input type="checkbox" name="checkbox" id="checkbox2">
            <label for="checkbox2">Checkboxin 2</label>
        </div>

    </form>
</div>

<!-- <div class="contenedor-formulario desaparecer">
    <div class="wrap">
            <form class="formulario" (ngSubmit)="enviar()" name="formulario-registro" id="formulario-registro">
            <div>
                <div class="input-group">
                    <input (blur)="blurInput($event)" (focus)="focusInput($event)" type="text" id="nombre" name="nombre">
                    <label class="label" for="nombre">Nombre:</label>
                </div>
                <div class="input-group">
                    <input (blur)="blurInput($event)" (focus)="focusInput($event)" type="email" id="email" name="email">
                    <label class="label" for="email">Correo:</label>
                </div>
                <div class="input-group">
                    <input (blur)="blurInput($event)" (focus)="focusInput($event)" type="password" id="pass" name="pass">
                    <label class="label" for="pass">Contraseña:</label>
                </div>
                <div class="input-group">
                    <input (blur)="blurInput($event)" (focus)="focusInput($event)" type="password" id="pass2" name="pass2">
                    <label class="label" for="pass2">Repetir Contraseña:</label>
                </div>
                
                <div class="input-group radio">
                        <input type="radio" name="sexo" id="hombre">
                        <label for="hombre">Hombre</label>

                        <input type="radio" name="sexo" id="mujer">
                        <label for="mujer">Mujer</label>
                </div>
                <div class="input-group checkbox">
                    <input type="checkbox" name="terminos" id="terminos" value="true">
                    <label for="terminos">Acepto los terminos y condiciones</label>
                </div>
                <input type="submit" id="btn-submit" value="Enviar">
                
            </div>
        </form>
    </div>


</div> -->

<div class="container" id="loginPrincipal" *ngIf="!identity">
    <div class="padreLoginPart">
        <button class="atras" (click)="atras()">‹</button>
        <div id="LoginPart">
            <div class="tituloLogin">
                <h2>{{title}}</h2>
            </div>
            <div *ngIf="errorMessageRegister">
                    <div class="alert alert-info">
                        <strong>{{errorMessageRegister}}</strong>
                    </div>
            </div>
            <div class="contenedorTarjetas" *ngIf="!mostrarRegistro" >
                <div id="wawa" class="contenedor_tarjeta">
                    <a>
                        <figure id="caraWawa">
                            <img src="assets/images/wawa.svg" class="frontal" alt="">
                            <figcaption class="trasera">
                                <h2>WAWA</h2>
                                <hr>
                                <p>Joven que quiere descubrir sus talentos y saber como cambiar al mundo con ellos .</p>
                                <div class="socialCenter">
                                    <button class="btn btn-facebook" (click)="loguearteFacebook()" >
                                        <i class="fa fa-facebook"></i>Continua con Facebook
                                    </button>
                                    <span class="textComp">o</span>
                                    <button class="btn btn-loguearte" (click)="loguearte()" >
                                        Logueate
                                    </button>   
                                    <button class="btn btn-loguearte" (click)="registrarte(0)" >
                                        Crear cuenta
                                    </button>   
                                </div>
                            </figcaption>
                        </figure>
                        <div id="wawaLogeate" class="wawaLogeate">
                            <div class="contenedor-formulario">
                                <div class="wrap">
                                    <div *ngIf="errorMessage">
                                        <div class="alert alert-info">
                                            <strong>Error!</strong>{{errorMessage}}
                                        </div>
                                    </div>
                                    <form #loginForm="ngForm" class="formulario" (ngSubmit)="onSubmit()" name="formulario-registro" id="formulario-registro">
                                            <div>
                                                <div class="input-group">
                                                    <input (blur)="blurInput($event)" (focus)="focusInput($event)" type="email" #email="ngModel" name="email" [(ngModel)]="user.email">
                                                    <label class="label" for="email">Correo:</label>
                                                </div>
                                                <div class="input-group">
                                                    <input (blur)="blurInput($event)" (focus)="focusInput($event)" type="password" #password="ngModel" name="password" [(ngModel)]="user.password">
                                                    <label class="label" for="pass">Contraseña:</label>
                                                </div>
                                                <input type="submit" id="btn-submit" value="Entrar">
                                                
                                            </div>
                                    </form>
                                    <!-- <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
                                        <p>
                                            <label>Correo Electronico:</label>
                                            <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required>
                                            <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
                                        </p>
                                        <p>
                                            <label>Contraseña</label>
                                            <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required>
                                        </p>
                                        <input type="submit"  value="Entrar" class="btn-primary">
                                        
                                    </form> -->
                                </div>
                             </div>
                        </div>
                    </a>
                </div>
                <div id="tata" class="contenedor_tarjeta">
                    <a>
                        <figure>
                            <img src="assets/images/tata.svg" class="frontal" alt="">
                            <figcaption class="trasera">
                                <h2>TATA</h2>
                                <hr>
                                <p>Estudiante universitario y/o profesional apasionado con su carrera comprometido con apoyar , guiar y dar mentoring a las semillas de nuestro país.</p>
                                <div class="socialCenter">
                                    <a class="btn btn-facebook" href="#">
                                        <i class="fa fa-facebook"></i>Continue with Facebook
                                    </a>
                                    <span class="textComp">o</span>
                                    <a class="btn btn-loguearte" href="#">
                                        Logueate
                                    </a>
                                    <a class="textComp">Crear cuenta</a>
                                </div>
                            </figcaption>
                        </figure>

                    </a>
                </div>
                <div id="colegio" class="contenedor_tarjeta">
                    <a>
                        <figure>
                            <img src="assets/images/colegio.svg" class="frontal" alt="">
                            <figcaption class="trasera">
                                <h2>COLEGIO</h2>
                                <hr>
                                <p>Estudiante universitario y/o profesional apasionado con su carrera comprometido con apoyar , guiar y dar mentoring a las semillas de nuestro país.</p>
                                <div class="socialCenter">
                                    <a class="btn btn-facebook" href="#">
                                        <i class="fa fa-facebook"></i>Continue with Facebook
                                    </a>
                                    <span class="textComp">o</span>
                                    <a class="btn btn-loguearte" href="#">
                                        Logueate
                                    </a>
                                    <button class="btn btn-loguearte" (click)="registrarte(2)" >
                                        Crear cuenta
                                    </button>   
                                </div>
                            </figcaption>
                        </figure>

                    </a>
                </div>
            </div>
            <div *ngIf="mostrarRegistro" class="contenedor-formulario">
                <div>
                        <!-- <div *ngIf="errorMessageRegister">
                            <div class="alert alert-info">
                                <strong>{{errorMessageRegister}}</strong>
                            </div>
                        </div> -->
                        <form *ngIf="tipoRegistro==0"  #UserregisterForm="ngForm" (ngSubmit)="onSubmitRegister(0)" class="formulario"  name="UserregisterForm" id="UserregisterForm" style="max-width: 70%;">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input #nombre="ngModel" [(ngModel)]="user_register.name" (blur)="blurInput($event)" (focus)="focusInput($event)" type="text" id="nombre" name="nombre">
                                        <label class="label" for="nombre">Nombre y Apellidos</label>
                                    </div>
                            <div class="input-group">
                                <input #email="ngModel" [(ngModel)]="user_register.email" (blur)="blurInput($event)" (focus)="focusInput($event)" type="email" id="email" name="email">
                                <label class="label" for="email">Correo:</label>
                            </div>
                            <div class="input-group">
                                <input #pass="ngModel" [(ngModel)]="user_register.password" (blur)="blurInput($event)" (focus)="focusInput($event)" type="password" id="pass" name="pass">
                                <label class="label" for="pass">Contraseña:</label>
                            </div>
                            <div class="input-group">
                                <input #pass2="ngModel" [(ngModel)]="user_register.rPassword" (blur)="blurInput($event)" (focus)="focusInput($event)" type="password" id="pass2" name="pass2">
                                <label class="label" for="pass2">Repetir Contraseña:</label>
                            </div>




                                </div>
                                <div class="col-lg-6" style="    border-left: 1px solid whitesmoke;">
                            <div class="input-group">
                                <input #colegio="ngModel" [(ngModel)]="user_register.colegio" (blur)="blurInput($event)" (focus)="focusInput($event)" type="text" id="colegio" name="colegio">
                                <label class="label" for="colegio">Nombre de tu colegio</label>
                            </div> 
                            <div class="input-group">
                                <input #codigoColegio="ngModel" [(ngModel)]="user_register.codigoColegio" (blur)="blurInputNormal($event)" (focus)="focusInput($event)" type="text" id="codigoColegio" name="codigoColegio">
                                <label class="label" for="codigoColegio">Codigo de activacion</label>
                            </div>
                            <div class="input-group radio">
                                    <select #gradoEstudio="ngModel" [(ngModel)]="user_register.gradoEstudio" name="gradoEstudio" style="
                                            color: #303f9f;
                                            background: transparent;
                                            border: none;
                                        ">
                                        <option value="Año de estudio" hidden>Año de estudio</option>
                                        <option value="1ero">1ero</option>
                                        <option value="2ero">2do</option>
                                        <option value="3ero">3ero</option>
                                        <option value="4to">4to</option>
                                        <option value="5to">5to</option>
                                    </select>
                            </div>
                            <div class="input-group radio">
                                    <input [(ngModel)]="user_register.sexo" type="radio" name="sexo" id="hombre" value="hombre">
                                    <label for="hombre">Hombre</label>

                                    <input type="radio" name="sexo" id="mujer" value="mujer">
                                    <label for="mujer">Mujer</label>
                            </div>
                            <div class="input-group checkbox">
                                <input #atc="ngModel" [(ngModel)]="user_register.atc" type="checkbox" name="atc" id="atc" value="true">
                                <label for="atc">Acepto los terminos y condiciones</label>
                            </div>
                            <input type="submit" id="btn-submit" value="Enviar">            

                                    
                                </div>





                            </div>


                        </div>     
                    </form>
                    <form *ngIf="tipoRegistro==1"  #MentorregisterForm="ngForm" (ngSubmit)="onSubmitRegister(1)" class="formulario"  name="UserregisterForm" id="UserregisterForm" style="max-width: 70%;">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input #nombre="ngModel" [(ngModel)]="user_register.name" (blur)="blurInput($event)" (focus)="focusInput($event)" type="text" id="nombre" name="nombre">
                                        <label class="label" for="nombre">Nombre y Apellidos</label>
                                    </div>
                            <div class="input-group">
                                <input #email="ngModel" [(ngModel)]="user_register.email" (blur)="blurInput($event)" (focus)="focusInput($event)" type="email" id="email" name="email">
                                <label class="label" for="email">Correo:</label>
                            </div>
                            <div class="input-group">
                                <input #pass="ngModel" [(ngModel)]="user_register.password" (blur)="blurInput($event)" (focus)="focusInput($event)" type="password" id="pass" name="pass">
                                <label class="label" for="pass">Contraseña:</label>
                            </div>
                            <div class="input-group">
                                <input #pass2="ngModel" [(ngModel)]="user_register.rPassword" (blur)="blurInput($event)" (focus)="focusInput($event)" type="password" id="pass2" name="pass2">
                                <label class="label" for="pass2">Repetir Contraseña:</label>
                            </div>




                                </div>
                                <div class="col-lg-6" style="    border-left: 1px solid whitesmoke;">
                            <div class="input-group">
                                <input #colegio="ngModel" [(ngModel)]="user_register.colegio" (blur)="blurInput($event)" (focus)="focusInput($event)" type="text" id="colegio" name="colegio">
                                <label class="label" for="colegio">Nombre de tu colegio</label>
                            </div> 
                            <div class="input-group">
                                <input #codigoColegio="ngModel" [(ngModel)]="user_register.codigoColegio" (blur)="blurInputNormal($event)" (focus)="focusInput($event)" type="text" id="codigoColegio" name="codigoColegio">
                                <label class="label" for="codigoColegio">Codigo de activacion</label>
                            </div>
                            <div class="input-group radio">
                                    <select #gradoEstudio="ngModel" [(ngModel)]="user_register.gradoEstudio" name="gradoEstudio" style="
                                            color: #303f9f;
                                            background: transparent;
                                            border: none;
                                        ">
                                        <option value="Año de estudio" hidden>Año de estudio</option>
                                        <option value="3ero">3ero</option>
                                        <option value="4to">4to</option>
                                        <option value="5to">5to</option>
                                    </select>
                            </div>
                            <div class="input-group radio">
                                    <input [(ngModel)]="user_register.sexo" type="radio" name="sexo" id="hombre" value="hombre">
                                    <label for="hombre">Hombre</label>

                                    <input type="radio" name="sexo" id="mujer" value="mujer">
                                    <label for="mujer">Mujer</label>
                            </div>
                            <div class="input-group checkbox">
                                <input #atc="ngModel" [(ngModel)]="user_register.atc" type="checkbox" name="atc" id="atc" value="true">
                                <label for="atc">Acepto los terminos y condiciones</label>
                            </div>
                            <input type="submit" id="btn-submit" value="Enviar">            

                                    
                                </div>





                            </div>


                        </div>
                            

                            
                            
                        
                    </form>
                <form *ngIf="tipoRegistro==2"  #ColegioregisterForm="ngForm" (ngSubmit)="onSubmitRegister(2)" class="formulario"  name="UserregisterForm" id="UserregisterForm" style="max-width: 70%;">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input #nombre="ngModel" [(ngModel)]="user_register.name" (blur)="blurInput($event)" (focus)="focusInput($event)" type="text" id="nombre" name="nombre">
                                        <label class="label" for="nombre">Nombre de la Institucion</label>
                                    </div>
                            <div class="input-group">
                                <input #email="ngModel" [(ngModel)]="user_register.email" (blur)="blurInput($event)" (focus)="focusInput($event)" type="email" id="email" name="email">
                                <label class="label" for="email">Correo de contacto :</label>
                            </div>
                            <div class="input-group">
                                <input #pass="ngModel" [(ngModel)]="user_register.password" (blur)="blurInput($event)" (focus)="focusInput($event)" type="password" id="pass" name="pass">
                                <label class="label" for="pass">Contraseña:</label>
                            </div>
                            <div class="input-group">
                                <input #pass2="ngModel" [(ngModel)]="user_register.rPassword" (blur)="blurInput($event)" (focus)="focusInput($event)" type="password" id="pass2" name="pass2">
                                <label class="label" for="pass2">Repetir Contraseña:</label>
                            </div>




                                </div>
                                <div class="col-lg-6" style="    border-left: 1px solid whitesmoke;">
                             <div class="input-group">
                                <input #ruc="ngModel" [(ngModel)]="user_register.ruc" (blur)="blurInput($event)" (focus)="focusInput($event)" type="text" id="ruc" name="ruc">
                                <label class="label" for="ruc">RUC</label>
                            </div>  
                            <!-- <div class="input-group">
                                <input #codigoColegio="ngModel" [(ngModel)]="user_register.codigoColegio" (blur)="blurInputNormal($event)" (focus)="focusInput($event)" type="text" id="codigoColegio" name="codigoColegio">
                                <label class="label" for="codigoColegio">Codigo de activacion</label>
                            </div> -->
                            <!-- <div class="input-group radio">
                                    <select #gradoEstudio="ngModel" [(ngModel)]="user_register.gradoEstudio" name="gradoEstudio" style="
                                            color: #303f9f;
                                            background: transparent;
                                            border: none;
                                        ">
                                        <option value="Año de estudio" hidden>Año de estudio</option>
                                        <option value="3ero">3ero</option>
                                        <option value="4to">4to</option>
                                        <option value="5to">5to</option>
                                    </select>
                            </div> -->
                            <span style="margin-left: 10px;color: #303f9f;">El genero del administrador</span>
                            <div class="input-group radio">
                                    <input [(ngModel)]="user_register.sexo" type="radio" name="sexo" id="hombre" value="hombre">
                                    <label for="hombre">Hombre</label>

                                    <input type="radio" name="sexo" id="mujer" value="mujer">
                                    <label for="mujer">Mujer</label>
                            </div>
                            <div class="input-group checkbox">
                                <input #atc="ngModel" [(ngModel)]="user_register.atc" type="checkbox" name="atc" id="atc" value="true">
                                <label for="atc">Acepto los terminos y condiciones</label>
                            </div>
                            <input type="submit" id="btn-submit" value="Enviar">            

                                    
                                </div>





                            </div>


                        </div>
                            

                            
                            
                        
                    </form>
                    <div id="botonAuxilio" style="
    display: flex;
    justify-content: center;
    margin-top: 20px;
">
    <button style="
    background: #6fbd40;
    border-radius: 1px;
    border: 2px solid #f2f2f2;
    color: #Fff;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    min-width: 120px;
    font-size: 16px;
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
"(click)="regresarLogin()">Regresar</button>


</div>
            <form *ngIf="tipoRegistro==3"  #ColegioregisterForm="ngForm" (ngSubmit)="onSubmitRegister(0)" class="formulario"  name="UserregisterForm" id="UserregisterForm" style="max-width: 70%;">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input #nombre="ngModel" [(ngModel)]="user_register.name" (blur)="blurInput($event)" (focus)="focusInput($event)" type="text" id="nombre" name="nombre">
                                        <label class="label" for="nombre">Nombre y Apellidos</label>
                                    </div>
                            <div class="input-group">
                                <input #email="ngModel" [(ngModel)]="user_register.email" (blur)="blurInput($event)" (focus)="focusInput($event)" type="email" id="email" name="email">
                                <label class="label" for="email">Correo:</label>
                            </div>
                            <div class="input-group">
                                <input #pass="ngModel" [(ngModel)]="user_register.password" (blur)="blurInput($event)" (focus)="focusInput($event)" type="password" id="pass" name="pass">
                                <label class="label" for="pass">Contraseña:</label>
                            </div>
                            <div class="input-group">
                                <input #pass2="ngModel" [(ngModel)]="user_register.rPassword" (blur)="blurInput($event)" (focus)="focusInput($event)" type="password" id="pass2" name="pass2">
                                <label class="label" for="pass2">Repetir Contraseña:</label>
                            </div>




                                </div>
                                <div class="col-lg-6" style="    border-left: 1px solid whitesmoke;">
                            <div class="input-group">
                                <input #colegio="ngModel" [(ngModel)]="user_register.colegio" (blur)="blurInput($event)" (focus)="focusInput($event)" type="text" id="colegio" name="colegio">
                                <label class="label" for="colegio">Nombre de tu colegio</label>
                            </div> 
                            <div class="input-group">
                                <input #codigoColegio="ngModel" [(ngModel)]="user_register.codigoColegio" (blur)="blurInputNormal($event)" (focus)="focusInput($event)" type="text" id="codigoColegio" name="codigoColegio">
                                <label class="label" for="codigoColegio">Codigo de activacion</label>
                            </div>
                            <div class="input-group radio">
                                    <select #gradoEstudio="ngModel" [(ngModel)]="user_register.gradoEstudio" name="gradoEstudio" style="
                                            color: #303f9f;
                                            background: transparent;
                                            border: none;
                                        ">
                                        <option value="Año de estudio" hidden>Año de estudio</option>
                                        <option value="3ero">3ero</option>
                                        <option value="4to">4to</option>
                                        <option value="5to">5to</option>
                                    </select>
                            </div>
                            <div class="input-group radio">
                                    <input [(ngModel)]="user_register.sexo" type="radio" name="sexo" id="hombre" value="hombre">
                                    <label for="hombre">Hombre</label>

                                    <input type="radio" name="sexo" id="mujer" value="mujer">
                                    <label for="mujer">Mujer</label>
                            </div>
                            <div class="input-group checkbox">
                                <input #atc="ngModel" [(ngModel)]="user_register.atc" type="checkbox" name="atc" id="atc" value="true">
                                <label for="atc">Acepto los terminos y condiciones</label>
                            </div>
                            <input type="submit" id="btn-submit" value="Enviar">            

                                    
                                </div>





                            </div>


                        </div>
                            

                            
                            
                        
                    </form>

                </div>
        </div>


        </div>
        <button class="atras" (click)="siguiente()" >›</button>

    </div>
        <div class="moon">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>            
            </ul>
        </div>
        <div class="dibujandoEstrellas" style="
    position: absolute;
    height: 200px;
    width: 200px;
    overflow: hidden;
    right: 0;
    top: 24px;
">
<ul class="star">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        </ul></div>
        <!-- <img src="../assets/images/nube.svg" alt="" class="nube nube0">
        <img src="../assets/images/nube.svg" alt="" class="nube nube1">
        <img src="../assets/images/nube.svg" alt="" class="nube nube2"> -->
        <!-- <div class="transformado"></div> -->
        <!-- <div class="fondo"></div> -->
        <img src="../assets/images/logo.svg" alt="" class="logo"> 
        <!-- <img src="../assets/images/nave.svg" alt="" class="nave">     -->
        <div class="bg">
            <div class="mountain">
                <div class="mountain-top">
                <div class="mountain-cap-1"></div>
                <div class="mountain-cap-2"></div>
                <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="mountain-two">
                <div class="mountain-top">
                <div class="mountain-cap-1"></div>
                <div class="mountain-cap-2"></div>
                <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="mountain-three">
                <div class="mountain-top">
                <div class="mountain-cap-1"></div>
                <div class="mountain-cap-2"></div>
                <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="mountain mov1">
                <div class="mountain-top">
                <div class="mountain-cap-1"></div>
                <div class="mountain-cap-2"></div>
                <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="mountain-two mov1">
                <div class="mountain-top">
                <div class="mountain-cap-1"></div>
                <div class="mountain-cap-2"></div>
                <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="mountain-three mov1">
                <div class="mountain-top">
                <div class="mountain-cap-1"></div>
                <div class="mountain-cap-2"></div>
                <div class="mountain-cap-3"></div>
                </div>
            </div>
            <div class="cloud"></div>
            <div class="floor"></div>
            <div class="tree costado0" id="one">
                <div class="leaf"></div>
                <div class="leaf"></div>
                <div class="leaf"></div>
            </div>
            <div class="tree costado1" id="one">
                <div class="leaf"></div>
                <div class="leaf"></div>
                <div class="leaf"></div>
            </div>
            <div class="tree costado2"  id="one">
                <div class="leaf"></div>
                <div class="leaf"></div>
                <div class="leaf"></div>
            </div>
            <div class="tree costado3"  id="one">
                <div class="leaf"></div>
                <div class="leaf"></div>
                <div class="leaf"></div>
            </div>
            <div class="tree costado4"  id="one">
                <div class="leaf"></div>
                <div class="leaf"></div>
                <div class="leaf"></div>
            </div>
            <div class="tree costado5"  id="one">
                <div class="leaf"></div>
                <div class="leaf"></div>
                <div class="leaf"></div>
            </div>
        </div>
    <div class="rocket">
        <div class="rocket-body">
        <div class="body"></div>
        <div class="fin fin-left"></div>
        <div class="fin fin-right"></div>
        <div class="window"></div>
        </div>
        <div class="exhaust-flame"></div>
        <ul class="exhaust-fumes">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        </ul>
        
  </div>
        
        <!-- <img src="../assets/images/fondo.svg" alt="" class="fondo">  -->





</div>






<!-- https://graph.facebook.com/v2.8/me?fields=id,name,education,birthday,age_range,email,favorite_athletes,favorite_teams,gender,hometown,about,likes&access_token=EAAZA6RwaLOlUBAPvpezZCPn9o7t2kVUH0WOUxtPrkQooA32jDRixrRHNYmaZBWMIRZCEN47S8WppLRVAp8sR9XuBbdrf55h3TkbC5iyydPmDJXnVr6bqg7TBdAUcWBUVVSKxc5ATPe8Rrg9XcPhdjjeHls2o5pSlJ6ib6M7uw6RGRcpA7Nozxgjxq9fSdYEZD -->
