<h1>{{titulo}}</h1>
<div *ngIf="alertMessage">
            <div class="alert alert-info">
                <strong>{{alertMessage}}</strong>
            </div>
</div>

<form #formAlbum="ngForm" (ngSubmit)="onSubmit()" >
      <p>
        <label>Titulo</label>
        <input type="text" #title="ngModel" name="title" [(ngModel)]="album.title" class="form-control" required>
                 
        <span *ngIf="!title.valid && title.touched">
            El nombre no es valido
        </span>
    </p> 
    <p>
        <label>Description</label>
        <textarea type="text" #description="ngModel" name="description"[(ngModel)]="album.description" class="form-control" required></textarea>
        <span *ngIf="!description.valid && description.touched">
            La descripcion no es valida
        </span>
    </p>
    <p>
        <label>Año</label>
        <textarea type="text" #year="ngModel" name="year"[(ngModel)]="album.year" class="form-control" required></textarea>
        <span *ngIf="!year.valid && year.touched">
            El año es obligatorio
        </span>
    </p> 

        <div *ngIf="is_edit">
            <div  *ngIf="album.image && album.image !='null'">

                <img  class="artist_image_for_edit" src="{{url + 'get-image-album/'+ album.image}}">
            </div>
             <p>
                <label for="">Sube la imagen del album</label>
                <input type="file" placeholder="Subir imagen ..." (change)="fileChangeEvent($event)">
            </p>       
            
        </div>
    <input type="submit" value="{{titulo}}" [disabled]="!formAlbum.form.valid" class="btn btn-success">
</form>