<div class="container" >
    <div class="row">

<div class="col-lg-6">
<h1>{{titulo}}</h1>
        <div *ngIf="alertMessage">
            <div class="alert alert-info">
                <strong>{{alertMessage}}</strong>
            </div>
        </div>

<form #formArtist="ngForm" (ngSubmit)="onSubmit()" >
    <p>
        <label>Nombre</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" class="form-control" required>
                 
        <span *ngIf="!name.valid && name.touched">
            El nombre no es valido
        </span>
    </p>
    <p>
        <label>Description</label>
        <textarea type="text" #description="ngModel" name="description"[(ngModel)]="artist.description" class="form-control" required></textarea>
        <span *ngIf="!description.valid && description.touched">
            La descripcion no es valida
        </span>
    </p>
        <div *ngIf="is_edit">
            <div  *ngIf="artist.image && artist.image !='null'">
                <img  class="artist_image_for_edit" src="{{url + 'get-image-artist/'+ artist.image}}">
            </div>
             <p>
                <label for="">Sube la imagen del artista</label>
                <input type="file" placeholder="Subir imagen ..." (change)="fileChangeEvent($event)">
            </p>       
            
        </div>
    <input type="submit" value="{{titulo}}" [disabled]="!formArtist.form.valid" class="btn btn-success">
</form>




        </div>        
    </div>
</div>

<!-- <div class="container" *ngIf="!identity || identity.role!='ROLE_ADMIN'">
    <div class="row">
        <div class="col-lg-6">
            <h1>Error</h1>
            <p>No tienes acceso a esta parte de la aplicacion</p>
        </div>
    </div>
</div> -->