

<div id="marco" style="
    position: absolute;
    width: 1060px;
    height: 560px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 5px 10px black;
    background: #172025;
    left: 50%;
    margin-left: -530px;
    /* top: -30px; */
">
</div>

<div id="contenedor-juegos">
    <canvas id="lienzo"  width="1000px" height="500px"></canvas>
    <button id="btnAmpliar" (click)="ampliar()">{{ampliarPa}}</button>
    	<div id="temporizador" class="probandoP" style="	position:absolute;
            top:0;
            left:0;
            padding:20px;">
		
		<span>0</span> segundos
	</div>
</div>
