<div id="cuerpo-mi-test">
    <div id="mensajeEntrada" *ngIf="!empezamosTest">
        <div id="contenidoMensaje"> 
            <div id="primerNivel">
                <div id="izquierda">
                    <img alt="" src="../../assets/images/tata2.svg">
                </div>
                <div id="derecha">
                    <h1>¿Listo para empezar a descubrir tus sueños?</h1>
                    <div id="tituloMensaje">
                        <span>   El primer paso para que descubramos tus talentos , es este test que buscara conocer tu personalidad y tu forma de aprender.Asi que necesitamos que estes en un lugar tranquilo y leas detenidamente las preguntas.</span>
                    </div>         
                </div>
            </div>
            <div id="segundoNivel">
                <div id="botones">
                    <span id="separador">Ahora no</span>
                    <span (click)="empezarTest()" id="empezarButton">Empezar</span>
                </div>
            </div>
        </div>
    </div>
    <div id="despuesMensaje" class="desaparecer">
    <div id="cabeceraTest">
        <span>Test de personalidad</span>
        <div class="timeLine">
            <div class="lineaTransversal"></div>
            <div class="circulos2">
                    <div *ngFor="let pregunta of preguntas; let in=index; trackBy: trackByIndex" class="circulo-interno">
                        <span>{{in+1}}</span>
                    </div>
                    <!-- <div class="circulo-interno"></div>
                    <div class="circulo-interno"></div>
                    <div class="circulo-interno"></div> -->
            </div>
        </div>
    </div>
    <div id="preguntasBaby">
    <div id={{pregunta._id}} class="contenedor-formulario test-preguntas ocultoElegante" *ngFor="let pregunta of preguntas">
        <div class="pregunta">
            <span>{{pregunta.cuerpoPregunta}}</span>
        </div>
        <div class="formulario">
            <div class="input-group checkbox" *ngFor="let alternativa of pregunta.alternativas">
                <input id={{alternativa._id}} name="terminos" type="checkbox" value="true" (change)="habilitarSig()">
                <label for={{alternativa._id}}>{{alternativa.cuerpoAlternativa}}</label>
            </div>
        </div>
    </div>
    <div id="resultadosTest" class="contenedor-formulario test-preguntas ocultoElegante">
         <img src="../../assets/images/intermedio.gif"> 
    </div>
    </div>
<div id="alertaSiguiente" style="
    color: #ee4848;
    margin: 1px;
" *ngIf="alertCompletar">
    <span>Usted debe escoger al menos una opcion</span>
</div>
    <div id="botones">
        <input id="atras-preg" type="submit" value="Atras" (click)="atras()">
        <input id="siguiente-preg" type="submit" value="Continuar" (click)="adelante()">
    </div>
    </div>
</div>

<div id="cuerpo-mis-Skills" class="desaparecer">
    <div id="contenido-cuerpo">
        <div id="cabeceraTest">
            <span>MIS HABILIDADES</span>
        </div>
        <div id="botones">
            <!-- <input id="atras-preg" type="submit" value="BASICAS">
            <input id="siguiente-preg" type="submit" value="ESPECIALIZADAS"> -->
        </div>

        <div id="mensajeEntrada">
            <div id="contenidoMensaje"> 
                <div id="primerNivel">
                    <div id="izquierda">
                        <img alt="" src="../../assets/images/tata2.svg">
                    </div>
                    <div id="derecha">
                        <h1>Hemos descubierto que eres una combinacion de <span>{{resultados.length}}</span> personalidades</h1>
                        <div id="tituloMensaje">
                            <div id="barraPersonalidad">
                            </div>
                        </div>         
                    </div>
                </div>
                
            </div>
        </div>


        <div id="carouselSkills">
            <div class="izquierdaMov" (click)="atrasCarr()">
                <i aria-hidden="true" class="fa fa-chevron-left"></i>
            </div>
            
            <div id="cuerpoCarr">
                <!-- <div class="tarjeta">
                    <div class="parteSupTar">
                        <img alt="" src="../../assets/images/b4f.svg">         
                        <div class="circuloPuesto">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="parteInfTar">
                        <span class="tituloPI">Emprendedor</span>
                        <span class="cuerpoPI">Estas personas prefieren
                            conducir o dirigir personas. En
                            general son sociables y audaces.
                            Muestran capacidades de
                            liderazgo y comunicación
                        </span>
                        <div class="algunasCarreras">
                            <span class="carreras">Carreras</span>
                            <div class="listaCarreras">
                                <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>      <span>Marketing</span>
                            </div>
                        </div>
                        <div class="botonesTarjeta">
                            <span class="empezarButton">Explorar carreras</span>
                        </div>
                    </div>
                </div>
                        <div class="tarjeta">
                    <div class="parteSupTar">
                        <img alt="" src="../../assets/images/b4f.svg">         
                        <div class="circuloPuesto">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="parteInfTar">
                        <span class="tituloPI">Emprendedor</span>
                        <span class="cuerpoPI">Estas personas prefieren
                            conducir o dirigir personas. En
                            general son sociables y audaces.
                            Muestran capacidades de
                            liderazgo y comunicación
                        </span>
                        <div class="algunasCarreras">
                            <span class="carreras">Carreras</span>
                            <div class="listaCarreras">
                                <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>      <span>Marketing</span>
                            </div>
                        </div>
                        <div class="botonesTarjeta">
                            <span class="empezarButton">Explorar carreras</span>
                        </div>
                    </div>
                </div>
                        <div class="tarjeta">
                    <div class="parteSupTar">
                        <img alt="" src="../../assets/images/b4f.svg">         
                        <div class="circuloPuesto">
                            <span>1</span>
                        </div>
                    </div>
                    <div class="parteInfTar">
                        <span class="tituloPI">Emprendedor</span>
                        <span class="cuerpoPI">Estas personas prefieren
                            conducir o dirigir personas. En
                            general son sociables y audaces.
                            Muestran capacidades de
                            liderazgo y comunicación
                        </span>
                        <div class="algunasCarreras">
                            <span class="carreras">Carreras</span>
                            <div class="listaCarreras">
                                <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>      <span>Marketing</span>
                            </div>
                        </div>
                        <div class="botonesTarjeta">
                            <span class="empezarButton">Explorar carreras</span>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="derechaMov" (click)="sgteCarr()">
                <i aria-hidden="true" class="fa fa-chevron-right"></i>
            </div>
        </div>
<div id="MensajeRetorno" style="
            color: #1d938a;
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
        ">
    <span>Volver a dar el test</span><span>Todas las personalidades</span>
            
        </div>



</div>





</div>