<section id="cabeceraTest">
    <div class="container cabMisCar">
        <h1 class="encabezadoTitulo">{{titulo}}</h1>
        <div class="felicitaciones">FELICITACIONES!!!</div>
         <div class="situacionActual">
            <img src="../../assets/images/miNave.png" alt="">
            <h2>Mis Skills Vocacionales que predominan son</h2>
        </div> 
    </div>
</section>

<section id="misSkillsSection">
    <div class="container">
        <div class="cabeceraSkills">
            <div class="papaCards">
                <div class="alinearVerticalmente">
                    <img src="../../assets/images/miNave.png" alt="">
                    <h2>Investigador</h2>
                    <p>Estas personas prefieren trabajar
                        con ideas. En general son
                        analíticas y reservadas, con
                        capacidades científicas y
                        matemáticas. </p>
                    <!-- <button type="button" class="btn btn-primary">
                        <h2>Cientifica</h2>
                    </button> -->
                </div>
                <div class="alinearVerticalmente">
                    <img src="../../assets/images/miNave.png" alt="">
                    <h2>Emprendedor</h2>
                    <p>Estas personas prefieren
                    conducir o dirigir personas. En
                    general son sociables y audaces.
                    Muestran capacidades de
                    liderazgo y comunicación. </p>
                    <!-- <button type="button" class="btn btn-primary">
                        <h2>Cientifica</h2>
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section id="listaCarreras">
<div class="container">
    <div>
        <h2>MIS MATCH!!</h2>
    </div>
    <div class="row">
            <div class="papaCards col-lg-12">
                <div class="row">
                    <div class="alinearVerticalmente detalleCarreras col-lg-3" *ngFor="let carrera of carreras">
                        <img src="../../assets/images/miNave.png" alt="">
                        <h2>{{carrera.nombre}}</h2>
                        <p>{{carrera.descripcion}} </p>
                         <button type="button" class="btn btn-primary" [routerLink]="['/mi-carrera/3']">
                            Explorar
                        </button> 
                    </div>
                </div>


            </div>
    </div>
</div>












</section>
 <!-- <div class="clearfix">
            <ul class="artist-list" *ngIf="identity">
                   <div class="container">
                        <div class="row">
                            <li *ngFor="let artist of artists" class="col-log-3 artist-item">
                                
                                <div class="artist-image">
                                    <img src="{{url +'get-image-artist/'+ artist.image}}">
                                </div>
                               <div class="artist-name">
                                    <a [routerLink]="['/artista',artist._id]">
                                        {{artist.name}}

                                    </a>
                                    <div class="buttons" *ngIf="identity.role=='ROLE_ADMIN'">
                                        <a [routerLink]="['/editar-artista',artist._id]" class="btn btn-sm btn-warning">Editar</a>
                                        <a (click)="onDeleteConfirm(artist._id)" class="btn btn-sm btn-danger">Borrar</a>
                                        
                                    </div>
                                    <div class="seguro" *ngIf="confirmado == artist._id">
                                        <a (click)="onDeleteArtist(artist._id)" class="btn btn-sm btn-danger">Eliminar</a>
                                        <a (click)="onCancelArtist()" class="btn btn-sm btn-primary">Cancelar</a>
                                        
                                    </div>
                                </div>
                            </li>

                        </div>

                    </div>
            </ul>
</div>  -->