 <div class="" *ngIf="identity">
    <h1>{{titulo}} del Test General</h1>
    <a *ngIf=" identity && identity.role=='ROLE_ADMIN'" [routerLink]="['/configurar-test',1]" class="btn btn-default">
        Configuracion Test
    </a>
</div> 

        <div *ngIf="alertMessage">
            <div class="alert alert-info">
                <strong>{{alertMessage}}</strong>
            </div>
        </div>

<section id="main-content pruebita">
    
    <div id="step01">
        <span class="title">
            1
        </span>
        <h1>
            Cuentanos de ti
        </h1>
        <div id="step01a">
            <div class="question gender-selection">
                <p>¿Sos mujer u hombre?</p>
                <div class="row">
                    <div class="column-3 sm-3" data-payload="1-mujer">
                    <figure id="chica"></figure>
                    </div>
                    <div class="column-3 sm-3" data-payload="1-hombre">
                        <figure id="chico"></figure>
                    </div>
                </div>
            </div>
            <div class="question">
                <p>¿Con cuál opción te identificás?</p>
                <span>Escogé una de las 3 opciones:</span>
                <div class="row">
                    <div class="column-2 only-choice checked" data-payload="1-primer-ingreso" data-conditional="question-city" data-filter=".degree-bachi">
                        <figure id="si-1"></figure>
                        <span>Soy primer ingreso</span>
                    </div>
                    <div class="column-2 only-choice" data-payload="1-cambio-carrera" data-conditional="question-colleges" data-filter=".degree-lic">
                        <figure id="no-1"></figure>
                        <span>Quiero otra carrera</span>
                    </div>
                    <div class="column-2 only-choice" data-payload="1-maestria" data-conditional="none" data-filter=".degree-msc">
                        <figure id="no-1"></figure>
                        <span>Quiero iniciar una maestría</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="step01b">
            <figure class="fantasy-ilustration"></figure>
            <h2 class="substep-title">Tus fantasias laborales</h2>
            <div class="question">
                <p>¿Que es lo que siempre has querido ser?</p>
                <span>(seleccioná al menos una profesión porfa)<span aria-hidden="true" class="symbol info-blue tooltip" data-title="Esto es importante para luego compararla con los resultados del test, y encontrar carreras equivalentes."></span></span>
                <select name="escogencia" id="universidad-escogida" required="" class="college-list career-select-list">
                    <option selected="selected" value="">Seleccioná una profesión</option>
                    <option value="Derecho">Abogado</option>
                    <option value="Artes Dramáticas-Artes Escénicas">Actor</option>
                </select>
                <select name="escogencia" id="universidad-escogida" required="" class="college-list career-select-list">
                    <option selected="selected" value="">Seleccioná una profesión</option>
                    <option value="Derecho">Abogado</option>
                    <option value="Artes Dramáticas-Artes Escénicas">Actor</option>
                </select>
                <select name="escogencia" id="universidad-escogida" required="" class="college-list career-select-list">
                    <option selected="selected" value="">Seleccioná una profesión</option>
                    <option value="Derecho">Abogado</option>
                    <option value="Artes Dramáticas-Artes Escénicas">Actor</option>
                </select>
            </div>
            <div class="actions">
					<p class="error-message hidden">Seleccioná por lo menos una fantasía</p>
					<a id="step01b-previous" href="#" class="back">ATRÁS</a>
					<a id="step01b-next" href="#" onclick="_gaq.push(['_trackEvent', 'NABU', 'Path', 'Paso3-TusFantasiasLaborales']);" class="next">SIGUIENTE PASO</a>
				</div>
        </div>
        
    </div>
    <div id="step02" class="normal-step wrapper">
			<figure class="title-line"></figure>
			<span class="step-number">2</span>
			<h1 class="step-title wavy-line wavy-bottom wavy-green">PERSONALIDADES VOCACIONALES Y AMBIENTES DE TRABAJO</h1>
			<p>Seleccioná las opciones que más se asemejan a vos.<br>Podés seleccionar cuantas querás en cada set.</p>
			<p>No hay respuestas malas ni buenas.</p>

			<div id="set01" class="questions-set hiddenx">

				<div id="steps">
					<span class="current">1</span>
					<i></i>
					<span>2</span>
					<i></i>
					<span>3</span>
					<i></i>
					<span>4</span>
					<i></i>
					<span>5</span>
					<i></i>
					<span>6</span>
				</div>
				<ul>
					<li data-value="set01-01" class=""><!-- INFO: OJO -->
						<a href="#"></a><span>Prefiero trabajar con objetos</span>
					</li>
					<li data-value="set01-02" class="">
						<a href="#"></a><span>Poseo habilidades mecánicas</span>
					</li>
					<li data-value="set01-03" class="">
						<a href="#"></a><span>Me gusta trabajar al aire libre</span>
					</li>
					<li data-value="set01-04" class="">
						<a href="#"></a><span>Prefiero trabajar con herramientas que con personas</span>
					</li>
					<li data-value="set01-05">
						<a href="#"></a><span>Me gusta lo práctico</span>
					</li>
					<li data-value="set01-06" class="no-answer">
						<a href="#"></a><span>Ninguna de las anteriores</span>
					</li>
				</ul>
				<div class="actions">
					<p class="error-message hidden">Por favor completá todos los campos</p>
					<a href="#" class="back" data-show="#step01, #step01b" data-hide="#step02">REGRESAR</a>
					<a href="#" onclick="_gaq.push(['_trackEvent', 'NABU', 'Path', 'Paso4-PersonlidadesVocacionales1']);" class="next disabled" data-show="#set02" data-hide="#set01" data-scroll-to=".steps02">SIGUIENTE SET</a>
				</div>
			</div>

			<div id="set02" class="questions-set hidden">
				<div id="steps" class="steps02">
					<span class="active">1</span>
					<i class="active"></i>
					<span class="current">2</span>
					<i></i>
					<span>3</span>
					<i></i>
					<span>4</span>
					<i></i>
					<span>5</span>
					<i></i>
					<span>6</span>
				</div>
				<ul>
					<li data-value="set02-01">
						<a href="#"></a><span>Prefiero actividades que impliquen la organización y manipulación de datos y documentos</span>
					</li>
					<li data-value="set02-02">
						<a href="#"></a><span>Prefiero la operación de máquinas que procesen datos y palabras</span>
					</li>
					<li data-value="set02-03">
						<a href="#"></a><span>Tengo habilidades de oficina y lógica aritmética</span>
					</li>
					<li data-value="set02-04">
						<a href="#"></a><span>Soy una persona cuidadosa, ordenada, práctica y persistente </span>
					</li>
					<li data-value="set01-05">
						<a href="#"></a><span>Prefiero trabajar con documentos</span>
					</li>
					<li data-value="set02-06" class="no-answer">
						<a href="#"></a><span>Ninguna de las anteriores</span>
					</li>
				</ul>
				<div class="actions">
					<p class="error-message hidden">Por favor completá todos los campos</p>
					<a href="#" class="back" data-show="#set01" data-hide="#set02">REGRESAR</a>
					<a href="#" onclick="_gaq.push(['_trackEvent', 'NABU', 'Path', 'Paso5-PersonlidadesVocacionales2']);" class="next disabled" data-show="#set03" data-hide="#set02" data-scroll-to=".steps03">SIGUIENTE SET</a>
				</div>
			</div>

			<div id="set03" class="questions-set hidden">
				<div id="steps" class="steps03">
					<span class="active">1</span>
					<i class="active"></i>
					<span class="active">2</span>
					<i class="active"></i>
					<span class="current">3</span>
					<i></i>
					<span>4</span>
					<i></i>
					<span>5</span>
					<i></i>
					<span>6</span>
				</div>
				<ul>
					<li data-value="set03-01">
						<a href="#"></a><span>Prefiero actividades en las que tenga que persuadir a otros</span>
					</li>
					<li data-value="set03-02">
						<a href="#"></a><span>Tengo cualidades de liderazgo</span>
					</li>
					<li data-value="set03-03">
						<a href="#"></a><span>Tengo suficiente confianza en mí mismo</span>
					</li>
					<li data-value="set03-04">
						<a href="#"></a><span>Soy una persona dominante</span>
					</li>
					<li data-value="set03-05">
						<a href="#"></a><span>Prefiero actividades en las que tenga que persuadir a otros promover la organización de la empresa y las finanzas</span>
					</li>
					<li data-value="set03-06" class="no-answer">
						<a href="#"></a><span>Ninguna de las anteriores</span>
					</li>
				</ul>
				<div class="actions">
					<p class="error-message hidden">Por favor completá todos los campos</p>
					<a href="#" class="back" data-show="#set02" data-hide="#set03">REGRESAR</a>
					<a href="#" onclick="_gaq.push(['_trackEvent', 'NABU', 'Path', 'Paso6-PersonlidadesVocacionales3']);" class="next disabled" data-show="#set04" data-hide="#set03" data-scroll-to=".steps04">SIGUIENTE SET</a>
				</div>
			</div>

			<div id="set04" class="questions-set hidden">
				<div id="steps" class="steps04">
					<span class="active">1</span>
					<i class="active"></i>
					<span class="active">2</span>
					<i class="active"></i>
					<span class="active">3</span>
					<i class="active"></i>
					<span class="current">4</span>
					<i></i>
					<span>5</span>
					<i></i>
					<span>6</span>
				</div>
				<ul>
					<li data-value="set04-01">
						<a href="#"></a><span>Prefiero actividades que prioricen informar</span>
					</li>
					<li data-value="set04-02">
						<a href="#"></a><span>Prefiero actividades que prioricen entrenar</span>
					</li>
					<li data-value="set04-03">
						<a href="#"></a><span>Prefiero actividades que prioricen instruir</span>
					</li>
					<li data-value="set04-04">
						<a href="#"></a><span>Tengo habilidades para comunicarme</span>
					</li>
					<li data-value="set04-05">
						<a href="#"></a><span>Soy una persona cooperativa, generosa y sociable</span>
					</li>
					<li data-value="set04-06" class="no-answer">
						<a href="#"></a><span>Ninguna de las anteriores</span>
					</li>
				</ul>
				<div class="actions">
					<p class="error-message hidden">Por favor completá todos los campos</p>
					<a href="#" class="back" data-show="#set03" data-hide="#set04">REGRESAR</a>
					<a href="#" onclick="_gaq.push(['_trackEvent', 'NABU', 'Path', 'Paso7-PersonlidadesVocacionales4']);" class="next disabled" data-show="#set05" data-hide="#set04" data-scroll-to=".steps05">SIGUIENTE SET</a>
				</div>
			</div>

			<div id="set05" class="questions-set hidden">
				<div id="steps" class="steps05">
					<span class="active">1</span>
					<i class="active"></i>
					<span class="active">2</span>
					<i class="active"></i>
					<span class="active">3</span>
					<i class="active"></i>
					<span class="active">4</span>
					<i class="active"></i>
					<span class="current">5</span>
					<i></i>
					<span>6</span>
				</div>
				<ul>
					<li data-value="set05-01">
						<a href="#"></a><span>Prefiero actividades no organizadas</span>
					</li>
					<li data-value="set05-02">
						<a href="#"></a><span>Prefiero actividades de creación</span>
					</li>
					<li data-value="set05-03">
						<a href="#"></a><span>Prefiero actividades de expresión en forma de arte</span>
					</li>
					<li data-value="set05-04">
						<a href="#"></a><span>Soy una persona expresiva</span>
					</li>
					<li data-value="set05-05">
						<a href="#"></a><span>Soy una persona original</span>
					</li>
					<li data-value="set05-06" class="no-answer">
						<a href="#"></a><span>Ninguna de las anteriores</span>
					</li>
				</ul>
				<div class="actions">
					<p class="error-message hidden">Por favor completá todos los campos</p>
					<a href="#" class="back" data-show="#set04" data-hide="#set05">REGRESAR</a>
					<a href="#" onclick="_gaq.push(['_trackEvent', 'NABU', 'Path', 'Paso8-PersonlidadesVocacionales5']);" class="next disabled" data-show="#set06" data-hide="#set05" data-scroll-to=".steps06">SIGUIENTE SET</a>
				</div>
			</div>

			<div id="set06" class="questions-set hidden">
				<div id="steps" class="steps06">
					<span class="active">1</span>
					<i class="active"></i>
					<span class="active">2</span>
					<i class="active"></i>
					<span class="active">3</span>
					<i class="active"></i>
					<span class="active">4</span>
					<i class="active"></i>
					<span class="active">5</span>
					<i class="active"></i>
					<span class="current">6</span>
				</div>
				<ul>
					<li data-value="set06-01">
						<a href="#"></a><span>Prefiero actividades intelectuales</span>
					</li>
					<li data-value="set06-02">
						<a href="#"></a><span>Prefiero actividades de observación</span>
					</li>
					<li data-value="set06-03">
						<a href="#"></a><span>Prefiero actividades de experimentación</span>
					</li>
					<li data-value="set06-04">
						<a href="#"></a><span>Prefiero tratar con ideas más que con personas u objetos</span>
					</li>
					<li data-value="set06-05">
						<a href="#"></a><span>Soy una persona analítica y no verbal</span>
					</li>
					<li data-value="set06-06" class="no-answer">
						<a href="#"></a><span>Ninguna de las anteriores</span>
					</li>
				</ul>
				<div class="actions">
					<p class="error-message hidden">Por favor completá todos los campos</p>
					<a href="#" class="back" data-show="#set05" data-hide="#set06">REGRESAR</a>
					<a href="#" onclick="_gaq.push(['_trackEvent', 'NABU', 'Path', 'Paso9-PersonlidadesVocacionales6-VerResultados']);" class="next disabled action-trigger" data-show="#step03" data-hide="#step02">Ver resultado</a>
				</div>
			</div>
		</div>
    <div id="step02"></div>
    <div id="step03"></div>


    
</section>

<!-- <div class="container preguntatest">
    <div class="row">
<div class="contenedorCuestionario">
    <div class="wrap show">
        <div (blur)="onBlur()" (focus)="onFocus()" class="circle"><img  (click)="esocogio(5)" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/uIjLl6R_cmbnqb.png" alt=""/>
            <p>Me encanta</p>
        </div>
        <div class="circle"><img (click)="esocogio(4)" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531171/XZOPuv9_eyqlr2.png" alt=""/>
            <p>Me gusta</p>
        </div>
        <div class="circle"><img (click)="esocogio(3)" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/lsHmtDy_ycqnbp.png" alt=""/>
            <p>Me parece divertido</p>
        </div>
        <div class="circle"><img (click)="esocogio(2)" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/s475u9d_o8trbg.png" alt=""/>
            <p>Me </p>
        </div>
        <div class="circle"><img (click)="esocogio(1)" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/JJuD9qb_a7gkmu.png" alt=""/>
            <p>Sad</p>
        </div>
        <div class="circle"><img (click)="esocogio(0)" src="https://res.cloudinary.com/prvnbist/image/upload/v1492531178/VDM3zOV_qy9fqj.png" alt=""/>
            <p>Angry</p>
        </div>
    </div>
</div>








</div>
</div> -->

