<h1>{{titulo}}</h1>

<span>Personalidad Predominante de los alumnos</span>
<div id="MisEstadisticas">
        <div id="contenedorCanvas" class="container">
                <div class="row">
                        <div class="col-lg-6">
                                <canvas id="pieAlumnos" width="800" height="450"></canvas>
                        </div>
                        <div class="col-lg-6">
                                <h1>Analisis</h1>
                                <div id="miTablaAnalisis">
      <table>
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Sexo</th>
              <th>Grado de Estudio</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let estudiante of estudianteppaparcial">
            <td *ngIf="estudiante">{{estudiante.nombre}}</td>
            <td *ngIf="estudiante">{{estudiante.sexo}}</td>
            <td *ngIf="estudiante">{{estudiante.gradoEstudio}}</td>
          </tr>
        </tbody>
      </table>
        <div style="
    display: flex;
    justify-content: space-around;
">
                <button (click)="atrasppa()" >Atras</button>
                <span>{{pagActualppa}}</span>
                <button (click)="siguienteppa()">Siguiente</button>
        </div>


</div>
                        </div>
                </div>
                
        </div>
        <div id="contenedorCanvas2" class="container">
                <div class="row">
                        <div class="col-lg-6">
                                <h1>Analisis</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic nulla dignissimos aliquam ea nam, repellat sed repudiandae fugit numquam asperiores quis vero facilis distinctio voluptatum voluptatem recusandae consequuntur est ullam.</p>
                        </div>
                        <div class="col-lg-6">
                               <canvas id="barAlumnos" width="800" height="450"></canvas>
                        </div>
                </div>
                
        </div>

</div>


