<hr>
<div class="col-lg-6" *ngIf="identity">
    <h1>{{titulo}}</h1>
    <!--FORMULARIO-->
            <div *ngIf="alertMessage">
                <div class="alert alert-info">
                    <strong>{{alertMessage}}</strong>
                </div>
            </div>
            <form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
                <div class="image_for_edit" *ngIf="user.image && user.image !='null'">
                    <img src="{{url + 'get-image-user/' +user.image}}" style="width:50px;">                    
                </div>
                
                <p>
                    <label>Sube tu foto</label>
                    <input type="file" placeholder="Subir image ..." (change)="fileChangeEvent($event)"/>
                </p>
                <p>
                    <label>Nombre:</label>
                    <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required>
                    <span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>                
                </p>
                <p>
                    <label>Apellido:</label>
                    <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" required>
                    <span *ngIf="!surname.valid && surname.touched">Los apellidos son obligatorio</span>                      
                </p>
                <p>
                    <label>Correo Electronico:</label>
                    <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required>
                    <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
                </p>
                <input type="submit" value="Actualizar Mis Datos" class="btn-primary">
                
            </form>



</div>